<% content_for :body_content_left do %>
  <ul id="layouts">
    <% @layouts.each do |layout| %>
      <li>
        <%= link_to layout.template_name, layout_url(layout) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
