<h1 id='logo'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
<%= render :partial => "/shared/menu",
           :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           } -%>
