  <h1 id='logo'><%= link_to RefinerySetting.get(:site_name), root_path %></h1>
  <%= render :partial => "/shared/menu",
             :locals => {
               :dom_id => 'menu',
               :css => 'menu'
             } -%>
