<%
  if !!local_assigns[:apply_css] and (classes = css_for_menu_branch(menu_branch, menu_branch_counter, sibling_count||=nil, collection, selected_item ||= nil)).any?
    css = "class='#{classes.join(' ')}'"
  end
  dom_id = ("id='item_#{menu_branch_counter}'" if menu_branch.parent_id.nil? and menu_branch.title.present?)

  hide_children = (defined?(hide_children) && hide_children)
  children = (hide_children || !menu_branch.has_descendants?) ? [] : collection.select { |p| p.parent_id == menu_branch.id }
-%>
<li<%= ['', css, dom_id].compact.join(' ').gsub(/\ *$/, '') %>>
  <%= link_to menu_branch.title, menu_branch.url -%>
  <% if children.present? -%>
    <ul class='clearfix'>
      <%=
        render :partial => "/shared/menu_branch",
               :collection => children,
               :locals => {
                 :apply_css => local_assigns[:apply_css],
                 :hide_children => hide_children,
                 :collection => collection,
                 :selected_item => selected_item,
                 :sibling_count => children.size - 1
               } -%>
    </ul>
  <% end -%>
</li>
