<%% if searching? %>
  <%%= link_to t('cancel_search', :scope => 'refinery.admin.search'), refinery.<%= namespacing.underscore %>_admin_<%= plural_name %>_path, :class => "cancel-search" %>
  <h2><%%= t('results_for_html', :scope => 'refinery.admin.search', :query => h(params[:search])).html_safe %></h2>
<%% end %>
<div class='pagination_container'>
  <%% if @<%= plural_name %>.any? %>
    <%%= render '<%= plural_name %>' %>
  <%% else %>
    <p>
      <%% unless searching? %>
        <strong>
          <%%= t('.no_items_yet') %>
        </strong>
      <%% else %>
        <%%= t('no_results', :scope => 'refinery.admin.search') %>
      <%% end %>
    </p>
  <%% end %>
</div>
