<%%= render 'refinery/admin/search_header', :url => refinery.<%= namespacing.underscore %>_admin_<%= plural_name %>_path %>
<div class='pagination_container'>
  <%% if @<%= plural_name %>.any? %>
    <%%= render '<%= plural_name %>' %>
  <%% else %>
    <p>
      <%% if searching? %>
        <%%= t('no_results', :scope => 'refinery.admin.search') %>
      <%% else %>
        <strong>
          <%%= t('.no_items_yet') %>
        </strong>
      <%% end %>
    </p>
  <%% end %>
</div>
