<section id='records'>
  <%%= render :partial => 'records' %>
</section>
<aside id='actions'>
  <%%= render :partial => 'actions' %>
</aside>
<%%= render :partial => '/refinery/admin/make_sortable',
            :locals => {
              :tree => false
            } if !searching? and ::Refinery::<%= namespacing %>::Admin::<%= class_name.pluralize %>Controller.sortable? and ::Refinery::<%= namespacing %>::<%= class_name %>.count > 1 %>
