<%%= form_for @setting, :url => refinery.<%= namespacing.underscore %>_admin_setting_path(@setting) do |f| %>

  <p>
    <%%= t('.explanation') %>
  </p>
  <p>
    <%%= t('.below_edit_email_sent') %>
  </p>
  <div id='<%= singular_name %>'>
    <div class="form-group row">
      <label class='col-sm-2 form-control-label'><%%= t('.to') %></label>
      <div class="col-sm-10">
        <p class="form-control-static"><%%= t('.the_customer_making_<%= singular_name %>') %></p>
      </div>
    </div>
    <div class="form-group row">
      <label class='col-sm-2 form-control-label'><%%= t('.from') %></label>
      <div class="col-sm-10">
        <p class="form-control-static"><%%= "#{Refinery::Core.site_name} &lt;no-reply@#{request.domain}&gt;".html_safe %></p>
      </div>
    </div>
    <div class="form-group row">
      <label class='col-sm-2 form-control-label'><%%= t('.subject') %></label>
      <div class="col-sm-10">
        <%%= text_field_tag "subject", Refinery::<%= namespacing %>::Setting.confirmation_subject,
                           :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label class='col-sm-2 form-control-label'><%%= f.label :value, t('.message'), :class => 'stripped' %></label>
      <div class="col-sm-10">
        <%%= f.text_area :value, :value => @setting.value, :rows => "7", :class => 'form-control m-b-2' %>
        <small class="text-muted"><%%= t('.note') %></small>
      </div>
    </div>
  </div>

  <%%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :hide_delete => true %>
<%% end %>
