<%% if @setting.name.to_s.titleize =~ /Recipients$/ %>
  <p>Set notification recipient directly with Refinery::Settings</p>
<%% else %>
  <%%= render 'confirmation_email_form', :edit => true -%>
<%% end %>
