/*****************
  This is your playground. Customize Hemingway to your hearts extent. 
*****************

/* LAYOUT WIDTH */

/* Example for a fluid layout:
.inside{
	width:95%;
}
*/

/* Example for a static layout:
.inside{
	width:800px;
}
*/