<ul>
  <li><%= render '/refinery/admin/search', url: refinery.admin_images_path -%></li>
  <li>
    <%= action_label :add, refinery.new_admin_image_path(dialog: true), t('.create_new_image') %>
  </li>
  <% other_image_views.each do |image_view| %>
    <li>
      <%= action_label :"switch_view_#{image_view}",
                        refinery.admin_images_path(view: image_view, page: params[:page]),
                        t('switch_to', scope: 'refinery.admin.images.index.view', view_name: t("#{image_view}", scope: 'refinery.admin.images.index.view'))
      %>
    </li>
  <% end %>
</ul>
