@font-face {
  font-family: "Refinery";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/refinery.eot");
  src: url("/assets/refinery.eot?#iefix") format("embedded-opentype"),
       url("/assets/refinery.woff") format("woff"),
       url("/assets/refinery.ttf") format("truetype"),
       url("/assets/refinery.otf") format("opentype");
}

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 "Refinery";
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

.icon-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-fw {
  width: 1.28571429em;
  text-align: center;
}

.icon-ul {
  margin-left: 2.14285714em;
  padding-left: 0;
  list-style-type: none;
}

.icon-ul > li {
  position: relative;
}

.icon-li {
  position: absolute;
  top: .14285714em;
  left: -2.14285714em;
  width: 2.14285714em;
  text-align: center;
}

.icon-li.icon-lg {
  left: -1.85714286em;
}

.icon-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.icon.pull-left {
  margin-right: .3em;
}

.icon.pull-right {
  margin-left: .3em;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

.icon-pulse {
  -webkit-animation: icon-spin 1s infinite steps(8);
          animation: icon-spin 1s infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.icon-rotate-90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);

  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.icon-rotate-180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);

  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.icon-rotate-270 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);

  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.icon-flip-horizontal {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);

  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
}

.icon-flip-vertical {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);

  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
}

:root .icon-rotate-90,
:root .icon-rotate-180,
:root .icon-rotate-270,
:root .icon-flip-horizontal,
:root .icon-flip-vertical {
  filter: none;
}

.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.icon-stack-1x {
  line-height: inherit;
}

.icon-stack-2x {
  font-size: 2em;
}

.icon-inverse {
  color: #fff;
}

body {
  .icon:not(.icon-fe) {
    &.icon-trash:before {
      content: "\f700";
    }
    &.icon-edit:before {
      content: "\f701";
    }
    &.icon-add-item:before {
      content: "\f702";
    }
    &.icon-file:before {
      content: "\f703";
    }
    &.icon-folder:before {
      content: "\f708";
    }
    &.icon-folder-open:before {
      content: "\f709";
    }
    &.icon-export:before {
      content: "\f70a";
    }
    &.icon-close:before {
      content: "\f70b";
    }
    &.icon-photo:before {
      content: "\f70d";
    }
    &.icon-bold:before {
      content: "\f70e";
    }
    &.icon-italic:before {
      content: "\f70f";
    }
    &.icon-font:before {
      content: "\f710";
    }
    &.icon-log-out:before {
      content: "\f711";
    }
    &.icon-log-in:before {
      content: "\f712";
    }
    &.icon-play:before {
      content: "\f713";
    }
    &.icon-gear:before {
      content: "\f718";
    }
    &.icon-save:before {
      content: "\f719";
    }
    &.icon-group:before {
      content: "\f71b";
    }
    &.icon-user:before {
      content: "\f71c";
    }
    &.icon-sort-two:before {
      content: "\f71d";
    }
    &.icon-sort:before {
      content: "\f71e";
    }
    &.icon-sort-alpha-two:before {
      content: "\f71f";
    }
    &.icon-sort-numeric:before {
      content: "\f720";
    }
    &.icon-sort-numeric-two:before {
      content: "\f721";
    }
    &.icon-sort-alpha:before {
      content: "\f722";
    }
    &.icon-code:before {
      content: "\f727";
    }
    &.icon-clock:before {
      content: "\f728";
    }
    &.icon-down:before {
      content: "\f729";
    }
    &.icon-up:before {
      content: "\f72a";
    }
    &.icon-right:before {
      content: "\f72b";
    }
    &.icon-left:before {
      content: "\f72c";
    }
    &.icon-paragraph:before {
      content: "\f72e";
    }
    &.icon-heading:before {
      content: "\f72f";
    }
    &.icon-dashboard:before {
      content: "\f731";
    }
    &.icon-filter:before {
      content: "\f732";
    }
    &.icon-calendar:before {
      content: "\f735";
    }
    &.icon-wrench:before {
      content: "\f736";
    }
    &.icon-list:before {
      content: "\f737";
    }
    &.icon-index:before {
      content: "\f738";
    }
    &.icon-sliders:before {
      content: "\f739";
    }
    &.icon-gears:before {
      content: "\f73a";
    }
    &.icon-check:before {
      content: "\f73b";
    }
    &.icon-reorder:before {
      content: "\f73d";
    }
    &.icon-search:before {
      content: "\f73e";
    }
    &.icon-screen:before {
      content: "\f73f";
    }
    &.icon-sitemap:before {
      content: "\f740";
    }
    &.icon-film:before {
      content: "\f741";
    }
    &.icon-plus:before {
      content: "\f742";
    }
    &.icon-quote:before {
      content: "\f743";
    }
    &.icon-move:before {
      content: "\f744";
    }
    &.icon-publish:before {
      content: "\f745";
    }
    &.icon-pencil:before {
      content: "\f747";
    }
    &.icon-files:before {
      content: "\f748";
    }
    &.icon-books:before {
      content: "\f74a";
    }
    &.icon-link:before {
      content: "\f74d";
    }
    &.icon-unlink:before {
      content: "\f74e";
    }
    &.icon-chat:before {
      content: "\f74f";
    }
    &.icon-pages:before {
      content: "\f750";
    }
    &.icon-glass-canvas:before {
      content: "\f752";
    }
    &.icon-bars:before {
      content: "\f754";
    }
    &.icon-full-width:before {
      content: "\f755";
    }
    &.icon-theatre:before {
      content: "\f756";
    }
    &.icon-normal:before {
      content: "\f757";
    }
    &.icon-feather:before {
      content: "\f758";
    }
    &.icon-add:before {
      content: "\f759";
    }
    &.icon-dots:before {
      content: "\f75c";
    }
    &.icon-tags:before {
      content: "\f75e";
    }
    &.icon-button:before {
      content: '\f760';
    }
    &.icon-dot:before {
      content: '\f761';
    }
    &.icon-external-link:before {
      content: '\f762';
    }
    &.icon-add-user:before {
      content: '\f763';
    }
    &.icon-eye-slash:before {
      content: '\f764';
    }
    &.icon-eye:before {
      content: '\f765';
    }
    &.icon-blockquote:before {
      content: '\f766';
    }
    &.icon-arrow-right:before {
      content: '\f767';
    }
  }
}
