public/system/*
public/themes/*
*.log
tmp/**/*
.DS_Store
doc/api
doc/app
doc/*
config/database.yml
config/amazon_s3.yml
config/rackspace_cloudfiles.yml
nbproject
index/**/*
db/*.sqlite3
*.tmproj
*.autobackupbyrefinery.*
/refinerycms-*.gem
public/javascripts/cache
public/stylesheets/cache
.yardoc/
refinerycms.gemspec
vendor/cache
.bundle
*.rbc
*.swp
*~
capybara-*html
.idea
