public/system/*
public/themes/*
log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
doc/*
config/database.yml
config/amazon_s3.yml
config/rackspace_cloudfiles.yml
public/images/system/*
nbproject
index/**/*
db/*.sqlite3
*.tmproj
*.autobackupbyrefinery.*
refinerycms*.gem
public/javascripts/cache
public/stylesheets/cache
config/database.yml.example
.yardoc/
themes/*
