before_script:
  - "sh -e /etc/init.d/xvfb start"
  - "bundle exec rake refinery:testing:dummy_app > /dev/null"
script:
  - "JS=false bundle exec rspec ./*/spec"
  - "DISPLAY=:99.0 JS=true bundle exec rspec ./*/spec"
notifications:
  email: true
  irc:
    use_notice: true
    skip_join: true
    channels:
      - "irc.freenode.org#refinerycms"
env:
  - DB=postgresql
  - DB=mysql
matrix:
  allow_failures:
    - rvm: rbx
rvm:
  - 1.8.7
  - 1.9.3
  - rbx
  - jruby
