--title "Refinery CMS"
lib/**/*.rb
app/**/*.rb
db/seeds.rb
config/preinitializer.rb
vendor/plugins/images/**/*.rb
vendor/plugins/authentication/**/*.rb
vendor/plugins/dashboard/**/*.rb
vendor/plugins/inquiries/**/*.rb
vendor/plugins/news/**/*.rb
vendor/plugins/pages/**/*.rb
vendor/plugins/refinery/**/*.rb
vendor/plugins/refinery_dialogs/**/*.rb
vendor/plugins/refinery_settings/**/*.rb
vendor/plugins/resources/**/*.rb
vendor/plugins/themes/**/*.rb
-
readme.rdoc
vendor/plugins/themes/themes.rdoc
vendor/plugins/refinery/plugins.rdoc
vendor/plugins/refinery/crud.rdoc
vendor/plugins/pages/pages.rdoc
vendor/plugins/images/images.rdoc
vendor/plugins/authentication/authentication.rdoc
vendor/plugins/dashboard/dashboard.rdoc
vendor/plugins/inquiries/inquiries.rdoc
vendor/plugins/news/news.rdoc
license.rdoc
contributors.rdoc