<div id='new_page_part_dialog' style='display: none'>
  <div class='field'>
    <label for='new_page_part_title'><%= t('.title')  %></label>
    <input id='new_page_part_title' value='' class='larger widest' />
    <input id='new_page_part_index' type='hidden' value='<%= @page.parts.size %>' />
  </div>
  <%= render :partial => "/shared/admin/form_actions", :locals => {
    :f => f,
    :continue_editing => false,
    :submit_button_id => "new_page_part_save",
    :cancel_button_id => "new_page_part_cancel"
  } %>
</div>
