<% if (locales ||= ::Refinery::I18n.frontend_locales).present? and locales.many? %>
  <ul id='page_locale_picker' class='clearfix'>
    <% locales.each do |locale| %>
      <li<%= " class='selected'" if locale.to_s == local_assigns[:current_locale].to_s %>>
        <%= link_to refinery_icon_tag("flags/#{locale}.png", :size => '48x33'),
                    url_for(:page_locale => locale)%>
      </li>
    <% end %>
  </ul>
<% end %>
