<section id='records' class='tree'>
  <% caching = RefinerySetting.find_or_set(:cache_pages_backend, false) %>
  <% cache_if(caching, [Refinery.base_cache_key, "pages_backend", Globalize.locale].join('_')) do %>
    <%= render :partial => 'records' %>
  <% end %>
</section>
<section id='actions'>
  <%= render :partial => 'actions' %>
</section>
<%= render :partial => "/shared/admin/make_sortable",
           :locals => {:tree => true} if @pages.many? -%>
