/******************************************************************************
 * For full documentation of what is being included where, see:
 * refinery-glass gem: /app/assets/stylesheets/refinery-glass.scss
 ******************************************************************************/

/* -------------------- LAYOUT -------------------- */

body{
  height: 100%;
  background: lighten($off-white, 2%) !important;
  line-height: 1.6 !important;
}

#wrapper{
  background: lighten($off-white, 2%) !important;
  padding: 0;
  overflow: hidden;
}

.container-fluid{
  max-width: 1200px;
}


.small-sidebar{
  @media (min-width: 768px) {
    .container-fluid{
      padding-left: 60px;
    }
  }
  .menu-link-left{
    display: none;
  }
}


/* -------------------- SIDEBARS -------------------- */

.small-sidebar{
  #sidebar-left{
    width: 45px;
    transition: 0.2s ease-out;
    @media (min-width: 768px) {
      transform: translate3d(0%, 0%, 0);
      transition: 0.2s 0.3s ease-out;
      &:hover{
        transition: 0.2s ease-out;
        width: 260px;
      }
    }
    &.visible{
      width: 260px;
    }
    .menu-link{
      display: none;
    }
    .close-cms-nav{
      width: 35px;
      height: 35px;
      background: #43B1D1;
      margin: -5px;
      line-height: 1.2em;
      position: relative ;
      top: 0;
      padding: 0;
      color: $white;
      z-index: 1050;
    }
    .sidebar-top-nav{
      .site-name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 260px;
      }
      .gcicon-glass-canvas{
        display: inline !important;
        visibility: visible !important;
        margin: 0 10px 0 1px;
        color: $grey-5;
      }
    }
  }
}

#sidebar-left{
  background: $off-white;
  border-right: 1px solid $grey-2;
  padding: 0;
  &.sidebar-open{
    transform: translate3d(0%, 0%, 0);
  }
  .sidebar-top-nav{
    position: fixed;
    z-index: 10000;
    top: 0;    
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    .site-name{
      text-align: right;
      background: $grey-1;
      padding: 18px 15px;
      width: 100%;
      a{
        color: $grey-6;
        font-size: 21px;
        font-weight: 600;
        line-height: 20px;
        &:hover{
          color: $primary-dark;
        }
      }
    }
  }
  .log-out{
    background: darken($off-white, 3%);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 9px 15px;   
    color: $grey-6;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    width: 260px;
    right: 0;
    &:hover{
      background: $primary-hover;
      color: $white;
    }
    .gcicon{
      top: 3px;
      left: 3px;
    }
  }
  #sidebar-left-inner{
    top: 65px;
    height: calc(100% - 110px);
    /* Hide scrollbar in chrome. */
/*
    &::-webkit-scrollbar {
      display: none;
    }
*/
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 15px;
    z-index: 1002;
    li{
      margin: 0 0 1px;
      white-space: nowrap;
      .gcicon{
        margin-right: 4px;
        color: $grey-6;
      }
      a{
        padding: 10px 15px 6px;
        min-width: 200px;
        width: 100%;
        display: block;
        color: $grey-6;
        font-size: 16px;
        letter-spacing: 1px;
        text-decoration: none;
        @include transition(0.1s);
        @include transition-fix();
        @include ellipsis($ellipsis-width);
        font-weight: 400;
        text-transform: uppercase;
        &:hover{
          border-bottom: 0;
          background: $white-opaque;
          color: $primary-dark;
          .gcicon{
            color: $primary-dark;
          }
        }
        > .gcicon{
          margin-right: 7px;
          margin-left: 1px;
        }
      }
      .active{
        border-right: 2px solid $primary-color;
        background: lighten($off-white, 6%);
      }
      ul{
        padding-top: 1px;
        margin-bottom: 10px;
        li{
          a{
            padding: 4px 15px 4px 30px;
            font-size: 13px;
            font-weight: 400;
            background: lighten($off-white, 3%);
          }
        }
      }
    }
    .list-heading{
      padding: 10px 15px 6px 30px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: darken($white-opaque, 3%);
      .gcicon{
        margin-right: 8px;
      }
    }
  }
}

#sidebar-right{
  background: $off-white;
  border-left: 1px solid $grey-2;
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  .sidebar-top-nav{
    text-align: left;
    background: $grey-1;
    width: 100%;
    padding: 18px 15px;
    z-index: 10000;
    position: fixed;
    top: 0;
    color: $grey-6;
    font-size: 21px;
    font-weight: 600;
  }
  #sidebar-right-inner{
    width: 350px;
    height: calc(100% - 62px);
    padding: 0;
    top: 62px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1002;
    .page-options{
      padding: 0 0;
      *[contenteditable=true]{
        color: $primary-dark;
        &:focus{
          border-color: $primary-dark;
          outline: none;
        }
        &:empty{
          /* width: 15px; */
          border-color: $primary-dark;
        }
      }
      .deliver{
        margin-bottom: 15px;
        display: block;
        margin-left: 0;
        margin-right: 0;
        .save-page{
          margin-right: 5px;
        }
      }
      .page-title{
        font-size: 21px;
        font-weight: 600;
        display: inline-block;
      }
      .url{
        font-weight: 600;
        color: $grey-5;
        word-wrap: break-word;
        span{
          padding-bottom: 1px;
        }
      }
      .sidebar-settings{
        margin-bottom: 30px;
        ul{
          padding: 0;
          li{
            margin-bottom: 4px;
            padding-bottom: 6px;
            border-bottom: 1px solid $grey-2;
            &:last-of-type{
              border-bottom: none;
            }
            .gcicon{
              width: 20px;
              display: inline-block;
            }
            .form-group{
              margin: 0;
              .checkbox{
                margin: 0;
                input[type=checkbox]{
                  top: 2px;
                }
              }
            }
          }
          .draft{
            label{
              padding-left: 25px;
              input[type="checkbox"]{
                margin-left: -25px;
              }
            }
          }
        }
        .child-toggle{
          margin-right: 10px;
          .status-icon{
            margin-right: 0;
          }
        }
        .status-icon{
          margin-right: 10px;
        }
        .child-toggle{
          .gcicon-folder{
            display: none;
          }
          .gcicon-folder-open{
            display: inline-block;
          }
        }
        .child-toggle.collapsed{
          .gcicon-folder{
            display: inline-block;
          }
          .gcicon-folder-open{
            display: none;
          }
        }
        .page-title{
          flex: 1;
          display: flex;
          padding: 10px 0;
          transition: 0;
          color: $grey-6;
          .title{
            flex: 1;
          }
          .label{
            background: $grey-3;
            text-transform: capitalize;
            padding: 2px 8px;
            font-weight: 600;
            margin-left: 5px;
          }
        }
        .attribute{
          padding-right: 60px;
        }
        .date{
          font-size: 14px;
          display: block;
          width: 100px;
          text-align: right;
          color: $grey-5;
        }
        .upload{
          .file-preview{
            width: 100%;
            padding-top: 66%;
            margin: 15px 0;
          }
        }
        .actions{
          text-align: right;
          &-col-0{
            width: 0;
          }
          &-col-1{
            width: 40px;
          }
          &-col-2{
            width: 80px;
          }
          &-col-3{
            width: 120px;
          }
          &-col-4{
            width: 160px;
          }
          &-col-5{
            width: 200px;
          }
          .circle-icon{
            color: $white;
            border-color: $white;
            &:link, &:visited {
              color: $white;
            }
            .password-protect{
              color: $black;
              width: 100%;
              display: block;
              text-align: left;
              &:hover{
                color: $primary-dark;
              }
              .gcicon-down{
                top: 2px;
                font-size: 18px;
                line-height: 14px;
                float: right;
              }
            }
            .password-collapse{
              padding: 10px 0 5px 0;
            }
            .checkbox{
              margin: 0;
              height: 19px;
              label{
                width: 100%;
                display: block;
                padding-top: 2px;
              }
            }
          }
          .saved-state{
            color: $grey-6;
          }
        }
      }
      .collapse-toggle{
        margin-bottom: 0;
        width: 100%;
        text-align: left;
        color: $grey-6;
        font-size: 16px;
        &:hover{
          color: $primary-dark;
        }
      }
      .settings-collapse{
        .dropdown-wrapper{
          margin-bottom: 10px;
        }
      }
      .delete{
        color: $red;
        &:hover{
          color: darken($red, 15%);
        }
      }
      .upload-preview-container{
        .upload-preview-inner{
          border-radius: 0;
          .file-preview{
            border-radius: 0;
          }
          .upload-overlay{
            span{
              display: block !important;
              visibility: visible !important;
              color: $white;
              font-size: 21px;
              font-weight: 600;
              margin-bottom: 15px;
            }
          }
    		}
      }
    }
  }
}

.sidebar{
  .sidebar-section{
    border-bottom: 1px solid $grey-3;
    &:last-child{
      border: 0;
    }
    .collapse-toggle{
      .gcicon-down{
        transition: .2s ease-out;
        transform: rotate(180deg); 
      }
      &.collapsed{
        .gcicon-down{
          transform: rotate(360deg); 
        }
      }
    }
    .sidebar-section-heading{
      padding: 15px;
      display: flex;
      align-items: center;
      .gcicon{
        &:first-child{
          margin-right: 10px;
        }
      }
      h3{
        margin: 30px 0 0 0;
        font-size: 21px;
        color: $grey-5;
        font-weight: 500;
      }
      .page-title{
        margin-bottom: 0;
      }
      .form-group{
        label{
          margin: 0;
        }
      }
    }
    .sidebar-section-body{
      padding: 0 15px 15px;
      &-sm{
        padding: 5px 15px;
      }
      input[type="checkbox"]{
        top: 2px;
      }
    }
    .form-group{
      margin: 0;
    }
  }
}



/* -------------------- MOBILE -------------------- */
.mobile-menu{
  background: $off-white;
  border-top: 1px solid $grey-2;
  height: 55px;
  position: fixed;
  padding: 0 10px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 100;
  @media (min-width: 768px) {
    display: none; 
  }
  a, button{
    text-align: center;
    font-size: 14px;
    color: $grey-6;
    padding: 10px;
    flex: 1;
    &:hover, &:focus, &:active{
      color: $primary-hover;
    }
    .gcicon{
      display: block;
      margin: 0 auto;
      font-size: 18px;
    }
  }
}

@media (max-width: 767px) {  
  .small-sidebar{
    #sidebar-left{
      width: 100%;
      .sidebar-top-nav{ 
        .site-name{
           width: 100%;
        }
        .menu-link{
          position: relative;
          width: 40px;
          height: 40px;
          padding: 4px 5px;
          margin: -5px;
          top: 0;
          .gcicon{
            font-size: 18px;
          }
        }
      }
      .log-out{
        width: 100%;
      }
    }
  }
  
  .uv-bottom-right{
    bottom: 55px !important;
    right: 0px;
    transform: scale(0.7);
  }
}


/* -------------------- COMPONENTS -------------------- */

.input-lg::-webkit-input-placeholder {
   font-size: 16px;
   line-height: 1.6;
}

.input-lg:-moz-placeholder { /* Firefox 18- */
   font-size: 16px;
   line-height: 2.3;
}

.input-lg::-moz-placeholder {  /* Firefox 19+ */
   font-size: 16px;
   line-height: 2.3;
}

.input-lg:-ms-input-placeholder {  
   font-size: 16px;
   line-height: 1.6;
}

#flash_container{
  max-width: 1200px;
  .row{
    .col-sm-12{
      min-height: 0;
    }
  }
  .alert{
    background: lighten($primary-fade, 16);
    color: $primary-dark;
    border-color: saturate(lighten($primary-fade, 12), 20);
    border-radius: 0;
    margin: 45px 0 0 0;
    .close{
      font-size: 25px;
      color: $primary-color;
      opacity: 0.6;
      &:hover{
        color: $primary-hover;
      }
    }
  }
  #flash{
    display: block;
    padding: 10px 15px;
    background: $grey-5;
    color: $white;
    #flash_close{
      float: right;
    }
  }
}

.menu-link{
  width: 45px;
  height: 45px;
  background: $primary-color;
  position: fixed;
  top: 10px;
  color: $white;
  z-index: 1050;
  padding: 9px 10px;
  @include transition($transition);
  &:hover{
    .gcicon{
      color: $primary-fade;
    }
  }
  &-left{
    left: 10px;
  }
  &-right{
    right: 10px;
  }
  &-text{
    width: auto;
    font-weight: 600;
    font-size: 18px;
    color: $white !important;
    &:hover{
      color: $primary-fade !important;
    }
    .gcicon{
      margin-right: 5px;
    }
  }
  .gcicon{
    color: $white;
    font-size: 24px;
  }
  .gcicon-cancel{
    font-size: 16px;
    top: -3px;
  }
}

.admin-title{
  margin: 15px 0 45px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.contextual-menu{
  background: $white;
  padding: 7px 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border-radius: $radius;
  &> *{
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .contextual-options{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .relative-nav-item{
    min-width: 80px;
  }
  .btn-group .btn-link-grey{
    border: 1px solid $grey-3;
  }
  .search{
    height: 40px;
    z-index: 100;
    width: 100%;
    order: 2;
    @media (min-width: 768px) {
      margin-right: 7px; 
      width: 40px;
      order: -1;
    }
    &:hover{
      .search-form{
        .form-control{
          width: 100%;
          transition: .2s ease-out;
          @media (min-width: 768px) {
            width: 300px; 
          }
        }
        .search-btn{
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          transition: .2s ease-out;
          @media (max-width: 767px) {
            right: 4px;
            left: auto;
          }
          @media (min-width: 768px) {
            left: 260px; 
          }
        }
      }
    }
    .search-form{
      position: absolute;
      left: 0;
      width: 100%;
      @media (min-width: 768px) {
        width: 40px;
      }
      .form-control{
        border-radius: 20px;
        height: 40px;
        line-height: 1.2;
        transition: .2s .75s ease-out;
        &:focus{
          transition: .2s ease-out;
          @media (min-width: 768px) {
                      width: 300px;  
          }
          &+.search-btn{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            transition: .2s ease-out;
            @media (max-width: 767px) {
              right: 4px;
              left: auto;
            }
            @media (min-width: 768px) {
              left: 260px; 
            }
          }
        }
      }
      .search-btn{
        position: absolute;
        top: 2px;
        width: 36px;
        height: 36px;
        background: $white;
        border-radius: 20px;
        @media (max-width: 767px) {
          right: 4px;
          left: auto;
        }
        @media (min-width: 768px) {
          left: 2px; 
        }
        transition: .2s .75s ease-out;
        &:hover, &:focus{
          .gcicon{
            color: $primary-hover;
          }
        }
        .gcicon{
          color: $grey-5;
        }
        button{
          height: 36px;
          width: 36px;
        }
      }
    }
  }
  .btn{
    @include transition-fix();
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  .btn-link-grey{
    &:first-child{
      margin-right: 0;
      margin-left: 0;
    }
    &:last-child{
      margin-left: 0;
      margin-right: 0;
    }
    .gcicon{
      color: $grey-3;
    }
    strong{
    }
  }
  .btn{
    margin-right: 7px;
    margin-left: 7px;
  }
  &> .btn, &> .dropdown{
    &:last-child{
      margin-left: auto;
      margin-right: 0;
      @media (max-width: 767px) {
        order: -1;
        margin-left: 0; 
      }
    }
  }
  .dropdown{
    margin: 0 7px;
    &:hover, &:focus{
      z-index: 1000;
      outline: none;
      .btn{
        z-index: 1005;
      }
      .dropdown-menu{
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in;
        height: auto;
      }
    }
    &:last-child{
      margin-left: auto;
      margin-right: 0;
      .dropdown-menu{
        left: auto;
        right: 0; 
      }
    }
  }
  
  .dropdown-menu{
    z-index: 50;
    top: -2px;
    padding-top: 33px;
    border-radius: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    min-width: 100%;
    margin-bottom: 15px;
    height: 0;
    overflow: hidden;
    li{
      &:first-child{
        border-top: 1px solid $grey-1;
        &:hover{
          border-color: transparent;
        }
      }
      a{
        padding: 5px 12px;
        transition: 0;
        &:hover, &:focus{
          color: $white;
          background: $primary-hover;
          .gcicon{
            color: $white;
          }
        }
      }
    }
    .gcicon{
      color: $grey-3;
    }
  }
  
  .open{
    .btn-link-grey{
      z-index: 60;
    }
  }
}

.form-collapse{
  .collapse-toggle{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $grey-3;
    text-align: left;
    &:focus{
      border: 1px solid $primary-hover !important;
      h4{
        color: $primary-hover;
      }
      .gcicon{
        color: $primary-hover;
      }
    }
    &:active{
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 6px 0px rgba($primary-color,0.3));
    }
    &.collapsed{
      .gcicon-checked{
        display: none;
      }
      .gcicon-unchecked{
        display: flex;
      }
    }
    &:hover{
      border-color: $primary-hover;
      h4{
        color: $primary-hover;
        transition: .2s ease-out;
      }
      .gcicon{
        color: $primary-hover;
        transition: .2s ease-out;
      }
    }
    .gcicon-checked{
      display: flex;
    }
    .gcicon-unchecked{
      display: none;
    }
    .gcicon{
      color: $grey-6;
      margin-right: 10px;
      top: 1px;
    }
    .collapse-heading{
      display: flex;
      align-items: center;
      width: 100%;
    }
    h4{
      margin: 0;
      font-size: 14px;
    }
  }
}

.collapse-box{
  padding: 30px 0;
}

.alert-sticky {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;
}

@media (max-width: 767px) {
  .contextual-menu {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.reordering{
  .page-row{
    &:hover{
      
    }
    .actions{
      display: none !important;
    }
  }
}

.delete-module, .delete-content-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 99;
	background: white;
	color: $red;
	border-color: $white;
	background: $white;
	transition: .2s ease-out;
	&:hover {
		color: $white;
		border-color: $red;
		background: $red;
	}
  &.circle-icon{
    color: $red;
    border-color: $white;
    background: $white;
    &:hover {
  		color: $white;
  		border-color: $red;
  		background: $red;
  	}
  }
}

.mini-lesson{
  margin-bottom: 60px;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .portrait{
    @media (min-width: 768px) {
      margin-right: 45px;
    }
    img{
      max-width: 120px;
      @media (max-width: 767px) {
        margin: 0 auto 30px; 
        display: block;
      }
    }
  }
  .message{
    flex: 1;
    .close{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
    }
  }
}

.ui-autocomplete{
  border-radius: 0;
  border: none;
  box-shadow: $shadow;
  padding-top: 5px;
  max-height: 300px;
  overflow-y: auto;
  .ui-menu-item{
    font-size: 18px;
    font-weight: normal;
    padding: 5px 12px;
    transition: 0;
    border: none;
    font-family: $primary-font;
  }
  .ui-state-focus{
    color: $white;
    background: $primary-hover;
    border: none;
  } 
  .gcicon{
    color: $grey-3;
  }
}

.sticky-logout{
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 5;
}

.circle-icon-inline{
  height: 25px !important;
  width: 25px !important;
  top: 5px;
  margin: 0 5px;
  .gcicon-plus{
    top: -8px;
    font-size: 16px;
  }
}