/* -------------------- PAGES -------------------- */

#page-preview{
  margin-left: 45px;

}

.login {
  background: $off-white;
  @media (max-width: 767px) {
    padding-top: 45px;
  }
  .container {
    @media (min-width: 768px) {
      padding-top: 90px;
      form {
        margin-bottom: 60px;
      }
    }
  }
  .elephant-cms-logo {
    max-width: 150px;
  }
  h2 {
    margin-bottom: 30px;
  }
  form {
    margin-bottom: 120px;
    .form-group {
      margin-bottom: 15px;
    }
    .checkbox {
      label {
        padding-top: 5px;
      }
      input[type="checkbox"] {
        margin-top: 7px;
      }
    }
  }
}

.admin-page {
  overflow: hidden;
  padding-top: 60px;
}

.admin-index {
  padding-top: 60px;
  & > .row {
    min-height: 450px; /* need room for dropdowns */
  }
  .index-listing {
    margin-bottom: 90px;
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
    & > ul {
      overflow: hidden;
      border-radius: $radius;
      li:last-child {
        margin-bottom: -2px;
      }
    }
  }
  ul {
    li {
      margin-bottom: 0;
      &:last-of-type {
        padding-bottom: 0;
      }
      .page-row {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        padding: 0 15px;
        font-size: 18px;
        letter-spacing: 1px;
        color: $grey-6;
        background: $white;
        &:hover {
          background: darken($off-white, 1%);
        }
        @media (min-width: 768px) {
          &:hover {
            background: $primary-hover;
            .gcicon {
              color: $white;
            }
            .actions {
              display: block;
            }
            .page-title {
              color: $white;
              .label {
                color: $primary-hover;
                background: $white;
              }
            }
            .date {
              display: none;
            }
            a.attribute {
              color: $white;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        &.no-edit {
          .actions {
            display: block;
            .circle-icon {
              border-color: $primary-color;
              &:link {
                color: $primary-color;
              }
              &:hover {
                color: $white;
                .gcicon {
                  color: $white;
                }
              }
              .gcicon {
                color: $primary-color;
              }
            }
            .add-child {
              width: auto;
              font-size: 14px;
              .circle-icon {
                width: auto;
                padding: 0 10px;
                .gcicon {
                  font-size: 18px;
                }
              }
            }
          }
          &:hover {
            background: $white;
            .gcicon {
              color: $primary-color;
            }
            .page-title {
              color: $grey-6;
              .label {
                color: $white;
                background: $grey-3;
              }
            }
            a.attribute {
              color: $grey-6;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .date {
            display: none;
          }
        }
        .child-toggle {
          margin-right: 10px;
          .status-icon {
            margin-right: 0;
          }
        }
        .status-icon {
          margin-right: 10px;
        }
        .child-toggle {
          .gcicon-folder {
            display: none;
          }
          .gcicon-folder-open {
            display: inline-block;
          }
        }
        .child-toggle.collapsed {
          .gcicon-folder {
            display: inline-block;
          }
          .gcicon-folder-open {
            display: none;
          }
        }
        .page-title {
          display: flex;
          flex: 1;
          align-content: center;
          align-items: center;
          padding: 10px 0;
          transition: 0;
          color: $grey-6;

          @include ellipsis(100%);
          .title {
            flex: 1;
          }
          .label {
            margin-left: 5px;
            padding: 2px 8px;
            font-weight: 600;
            text-transform: capitalize;
            background: $grey-3;
          }
        }
        .attribute {
          padding-right: 60px;
        }
        .date {
          display: block;
          width: 100px;
          font-size: 14px;
          text-align: right;
          color: $grey-5;
          @media (max-width: 767px) {
            display: none;
          }
        }
        .actions {
          display: none;
          text-align: right;
          @media (max-width: 767px) {
            display: block;
          }
          &-visible {
            display: block;
          }
          &-tight-right {
            right: -10px;
          }
          &-col-0 {
            width: 0;
          }
          &-col-1 {
            width: 40px;
          }
          &-col-2 {
            width: 80px;
          }
          &-col-3 {
            width: 120px;
          }
          &-col-4 {
            width: 160px;
          }
          &-col-5 {
            width: 200px;
          }
          .circle-icon {
            color: $primary-color;
            border-color: $primary-color;
            &:link,
            &:visited {
              color: $primary-color;
            }
            &:hover,
            &:focus {
              color: $white;
              border-color: $primary-dark;
              background: $primary-dark;
            }
            .gcicon-cancel {
              font-size: 14px;
            }
          }
          @media (min-width: 768px) {
            .circle-icon {
              color: $white;
              border-color: $white;
              &:link,
              &:visited {
                color: $white;
              }
            }
          }
          span {
            display: inline-block;
            width: 30px;
            margin-left: 5px;
            text-align: center;
          }
        }
      }
    }
    /* nested ul */
    ul {
      margin: 0 0 0 0;
      padding: 0;
      list-style: outside none none;
      &:empty {
        margin: 0;
      }
      li {
        margin-bottom: 0;
        margin-left: 30px;
        .page-row {
          background: $white;
        }
        &:last-child {
          .page-row {
            margin-bottom: 4px;
          }
        }
      }
      li .page-row {
        margin-left: -30px;
        padding-left: 30px;
      }
      li li .page-row {
        margin-left: -60px;
        padding-left: 45px;
      }
      li li li .page-row {
        margin-left: -90px;
        padding-left: 60px;
      }
      li li li li .page-row {
        margin-left: -120px;
        padding-left: 75px;
      }
      li li li li li .page-row {
        margin-left: -150px;
        padding-left: 90px;
      }
      li li li li li li .page-row {
        margin-left: -180px;
        padding-left: 105px;
      }
      li.placeholder {
        margin-left: 0;
        padding-left: 30px;
      }
      li li.placeholder {
        margin-left: -30px;
        padding-left: 60px;
      }
      li li li.placeholder {
        margin-left: -60px;
        padding-left: 90px;
      }
      li li li li.placeholder {
        margin-left: -90px;
        padding-left: 120px;
      }
      li li li li li.placeholder {
        margin-left: -90px;
        padding-left: 150px;
      }
      li li li li li li.placeholder {
        margin-left: -120px;
        padding-left: 180px;
      }
    }
  }
  .placeholder {
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 2px;
    padding: 10px 0;
    border: 1px dashed #ccc;
    background: lighten($off-white, 4%);
    &:before {
      position: relative;
      top: 2px;
      padding-left: 0;
      font-family: "refinery-glass" !important;
      font-size: 18px;
      font-weight: normal !important;
      font-style: normal !important;
      font-variant: normal !important;
      line-height: 1;
      content: attr(data-icon);
      content: "h";
      text-transform: none !important;
      color: $grey-6;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      speak: none;
    }
    &:after {
      padding-left: 10px;
      font-size: 18px;
      content: "Move Here";
      color: $grey-6;
    }
  }
  .reordering {
    .page-row {
      cursor: move !important;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: calc(100% - 10px);
        margin: 5px 3px;
        content: "";
        border-right: 2px dotted $grey-2;
        border-left: 2px dotted $grey-2;
      }
    }
  }
}
.modal {
  .form-actions,
  .deliver,
  .image-delete-btn {
    /* Actions are handled by modal buttons.. remove the default ones */
    display: none;
  }
}