/******************************************************************************
 * For full documentation of what is being included where, see:
 * refinery-glass gem: /app/assets/stylesheets/refinery-glass.scss
 ******************************************************************************/

/* -------------------- TEMPORARY -------------------- */

body p{
  font-size: 16px;
  line-height: 1.6em;
}

img.pull-left{
  margin: 10px 10px 10px 0;
}

#article-cover{
  background: url("/assets/home-cover.jpg") center center / cover no-repeat;
	height: 500px;
	padding-top: 120px;
	width: 100%;
	margin-bottom: 30px;
}

.btn.btn-edit-img {
  display: none;
  padding-right: 6px;
  i {
    margin: 0;
    padding: 10px 6px 9px 10px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.6;
  }
  &:hover {
    i {
      opacity: 0.8;
    }
  }
}

#image-upload-form {
  position: absolute;
  top: -400px;
}







/* -------------------- MODULES -------------------- */

.circle-icon{
  @include circle(30px);
  color: $black;
  border: 1px solid $black;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  &:link, &:visited {
    color: $black;
  }
  &:hover, &:focus{
    color: $white;
    border-color: $primary-dark;
    background: $primary-dark;
  }
}

.circle-icon.fluid-width{
  padding: 0 10px 0 10px;
  min-width: 30px;
  width: auto;
  span{
    padding-top: 2px;
  }
}






