<div class="browser-update-wrapper" style="display: none;">
  <div class="container browser-update">
    <div class="row">
      <div class="col-sm-12">
        <h1>Sorry but it looks like your browser is out of date.</h1>
        <p class="lead-sm">For security reasons we do not support <span class="current-browser"></span>, please upgrade to the latest version of one of our recommended browsers.</p>
      </div>
      <div class="col-sm-4">
        <a href="http://www.google.com/chrome/" class="browser-download" target="_blank"><img src="https://glasscanvas.s3.amazonaws.com/chrome-logo.png" class="browser-logo img-responsive"/>Chrome</a>
      </div>
      <div class="col-sm-4">
        <a href="http://support.apple.com/downloads/#safari" class="browser-download" target="_blank"><img src="https://glasscanvas.s3.amazonaws.com/safari-logo.png" class="browser-logo img-responsive"/>Safari</a>
      </div>
      <div class="col-sm-4">
        <a href="http://www.mozilla.org/en-US/firefox/new/" class="browser-download" target="_blank"><img src="https://glasscanvas.s3.amazonaws.com/firefox-logo.png" class="browser-logo img-responsive"/>Firefox</a>
      </div>
      <div class="col-sm-12 ie-disclaimer">
        <p>If for some reason you really need to use Internet Explorer please use <a href="http://windows.microsoft.com/en-ca/internet-explorer/ie-11-worldwide-languages">IE 11</a>.</p>
      </div>
    </div>
  </div>
</div>
