<% if !defined?(@hide_main_nav) || !@hide_main_nav %>
  <button type="button" class="sidebar-left-opener menu-link menu-link-left"><i class="icon icon-bars"></i></button>
  <% if content_for?(:admin_sidebar) %>
    <div class="editor-settings">
      <button class="btn-secondary-outline btn-circle editor-setting m-r-sm toggle-dimmed-editing active"><i class="icon icon-eye"></i></button>
      <!--
      <div class="dropdown inline-block m-r-sm">
        <button class="btn-secondary-outline btn-circle editor-setting" type="button" id="dropdown-settings" data-toggle="dropdown" aria-expanded="true"><i class="icon icon-dots"></i></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-settings">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" class="btn btn-link-gray"><i class="icon icon-screen m-r-xs"></i> Live preview</a></li>
          <li role="presentation"><button role="menuitem" tabindex="-1" class="btn btn-link-gray"><i class="icon icon-trash m-r-xs"></i> Delete</button></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="" class="btn btn-link-gray"><i class="icon icon-publish m-r-xs"></i> Update</a></li>
        </ul>
      </div>
      -->
      <button type="button" class="sidebar-right-opener menu-link menu-link-text"><i class="icon icon-gears"></i> Publish settings</button>
    </div>
  <% end %>
<% end %>
