<div class="auto-save-state">
  <div class="saving">
    <i class="loader inline xs inverted active m-r-xs bump-up"></i> Saving
  </div>
  <div class="finished-state">
    <p class="msg">Save failed</p>
  </div>
</div>

<div id="glass-parking" style="display: none;">
  <input id="autosave_field" class="autosave-field" name="autosave" type="hidden" value="">

  <a id="glass-module-switcher-template" href="" class="circle-icon add-module glass-control singleton replace-module glass-ui transitionable" contenteditable=false><i class="icon icon-plus"></i></a>
  <div id="glass-choose-module" class="new-module media-chooser clear glass-control singleton replace-module glass-ui" contenteditable=false>
    <button id="glass-choose-module-img" class="circle-icon media-type"><i class="icon icon-photo bump-down"></i></button>
    <button id="glass-choose-module-vid" class="circle-icon media-type"><i class="icon icon-film"></i></button>
    <!-- <button class="circle-icon media-type" data-insert-module-template="button"><i class="icon icon-button"></i></button> -->
    <% if current_refinery_user.has_role?(:superuser) -%>
      <button id="glass-choose-custom"     class="circle-icon media-type"><i class="icon icon-code"></i></button>
    <% end %>
    <button class="circle-icon media-type" data-choose-control="html"><i class="icon icon-code"></i></button>
    <button class="circle-icon media-type" data-choose-control="anchor-editor"><i class="icon icon-photo"></i></button>
  </div>
  <div id="glass-module-settings-vid" class="new-module media-chooser clear glass-control singleton replace-module glass-ui" contenteditable=false>
    <form id="glass-add-vid-form" role="form">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Vimeo or YouTube URL</div>
          <input class="url-input form-control glass-autofocus" type="text" placeholder="http://...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-secondary-outline">Insert</button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <div id="glass-module-anchor-editor" contenteditable=false
       class="glass-control singleton btn-editor p-a-sm box-shadow white-bg glass-ui">
    <progress class="progress progress-info" value="25" max="100">25%</progress>
    <button class="close close-btn close-btn-out"><i class="icon icon-close"></i></button>
    <form role="form">
      <div class="form-group field-row m-b-0 flex align-items-center">
        <button class="btn btn-primary m-x-xs p-x-sm"><i class="icon icon-export"></i></button>
        <small class="text-muted p-x-sm">or</small>
        <label for="url" class="sr-only">URL</label>
        <input id="url" type="text" class="form-control flex-1 m-x-xs m-b-xs" placeholder="http://">
        <label for="link-text" class="sr-only">Link text</label>
        <input id="link-text" type="text" class="form-control flex-1 m-x-xs m-b-xs" placeholder="Link text">
      </div>
      <div class="form-group m-b-0 flex align-items-center">
        <div class="checkbox m-b-0">
          <label><input id="is-external" type="checkbox"> External link</label>
        </div>
        <button class="delete btn btn-link-red m-l-auto"><i class="icon icon-trash"></i> Delete</button>
        <button type="submit" class="btn btn-primary m-l-sm">Save</button>
      </div>
    </form>
  </div>
  <div id="glass-module-html" class="new-module clear glass-control singleton replace-module glass-ui cms-ui" contenteditable=false>
    <form id="glass-add-html-form" role="form">
      <label class="bold">Paste your HTML</label>
      <textarea class="form-control glass-autofocus html-input m-b-xs" placeholder="<iframe>...</iframe>"></textarea>
      <button type="submit" class="btn btn-default bold">Insert</button>
    </form>
  </div>
  <div class="module-options abs-b-r">
    <button class="btn btn-white btn-circle btn-sm glass-control glass-ui" contenteditable="false"><i class="icon icon-paragraph"></i></button>
    <button class="btn btn-white-red btn-circle btn-sm delete-module glass-control glass-ui" contenteditable="false"><i class="icon icon-trash"></i></button>
  </div>
  <button class="circle-icon icon-only link-items link glass-control append glass-ui" contenteditable=false><i class="icon icon-link" ></i></button>
  <div class="click-pads glass-control append" contenteditable=false>
    <div class="click-pad top"></div>
    <div class="click-pad right"></div>
    <div class="click-pad bottom"></div>
    <div class="click-pad left"></div>
  </div>
  <div class="module-layout glass-control append glass-ui" contenteditable=false>
    <button class="circle-icon" data-layout-class="inline-module-md"><i class="icon icon-normal"></i></button>
    <button class="circle-icon" data-layout-class="inline-module-lg"><i class="icon icon-theatre"></i></button>
    <button class="circle-icon" data-layout-class="inline-module-fw"><i class="icon icon-full-width"></i></button>
  </div>

  <div id="glass-module-vid-template" class="video-module inline-module glass-no-edit glass-ui" contenteditable=false>
    <div class="video-wrapper">
      <iframe data-video-link="" src="" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" scrolling="no" hspace="0">
      </iframe>
    </div>
  </div>

  <div id="glass-module-group-template" class="glass-module-group image-group inline-module active glass-no-edit" contenteditable=false></div>

  <div id="glass-module-img-template" class="inline-editable-image-container inline-module glass-no-edit glass-ui" contenteditable=false>
    <div class="progress-box glass-control" style="display:none;">
      <div class="status-text"></div>
      <progress class="progress progress-success progress-bar" value="25" max="100"></progress>
    </div>
    <img class="inline-editable-image img-fluid" src=""/>
  </div>

  <div id="glass-module-button-template" class="glass-no-edit module-button" contenteditable=false>
    <a class="btn btn-primary">ACTION</a>
  </div>

  <div id="glass-module-custom-template" class="glass-no-edit custom-html" contenteditable=false>
    <div class="whatever-you-want-here">
      <p>Change this to whatever custom html you want using your browser inspector</p>
    </div>
  </div>
</div>
