@import url('/stylesheets/refinery/application.css');
/*
    Override default refinery application CSS below.
    Formatting applies to all frontend.
*/
body {
    margin: 0px;
    padding: 0px;
}
#body_content {
    margin-top: 36px;
}
#body_content_left {
    width: 574px;
}
#body_content_right {
    width: 396px;
}
#body_content_right img {
    border: 3px solid #c7c7c7;
}
#page {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#body, header, footer, #site_bar_content {
    width: 990px;
    margin: 0px auto;
}
#header {
    background: url('/theme/images/header_background.png') repeat-x;
}
header {
    position: relative;
    height: 132px;
}
header h1, header h1 a {
    color: #feffff;
    font-size: 24px;
    font-weight: normal;
    left: 0px;
    text-decoration: none;
}
header h1, header #menu {
    position: absolute;
    bottom: 30px;
    margin: 0px;
}
header #menu {
    right: 0px;
    padding: 0px;
}
#language_switcher {
    float:right;
    padding-top:15px;
}
#menu li, #menu > a, #menu div {
    float: left;
    list-style: none;
    position: relative;
}
#menu a, #menu li:hover ul li a, #menu a:hover nav a {
    color: #969792;
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    cursor: pointer;
}
#menu li.selected a, #menu li:hover a, #menu li a:hover, #menu li ul li a:hover, #menu div.selected a, #menu a.selected, #menu a:hover, #menu div:hover > a {
    color: #32322b;
    background: white;
}
#menu li ul, #menu nav {
    position: absolute;
    left: -99999px;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
    max-width: 300px;
    background: white;
}
#menu li ul li, #menu nav a {
    float: left;
}
#menu li:hover ul, #menu div:hover nav {
    left: auto;
}
#footer {
    margin-top: 120px;
    background: url('/theme/images/footer_background.png') repeat-x;
}
footer {
    height: 103px;
    padding-top: 94px;
    background: url('/images/refinery/logo.png') 0px 80px no-repeat;
    text-align: right;
}
.inquiries .field input, .inquiries textarea {
  border: 1px solid #75766f;
  margin-left: 0px;
}
.inquiries textarea {
  width: 375px;
}
