/* default refinery css */
body {
    background: #E1E1E1;
    
}
#page {
    background: white;
    padding: 20px;
    width: 1000px;
    margin: 0px auto;
}
#header {
    height: 71px;
    margin-bottom: 10px;
}
#header h1 {
    float: left;
}
#menu {
    list-style: none;
    float: right;
    margin-top: 20px;
}
#menu li {
    float: left;
    margin: 0px 9px;
}

#menu li a {
    font-size: 18px;
}

#footer {
    margin-top: 12px;
    font-size: 11px;
}

#body_content_left {
    float: left;
    width: 600px;
}
#body_content_right {
    float: right;
    margin: 0px 12px;
    width: 360px;
}

.inquiries form label {
    width: 150px;
    float: left;
}
.inquiries form input {
    
}
.inquiries form input, .inquiries form textarea {
	
}
.inquiries form textarea {
	
}
.inquiries form .actions {
    margin-left: 150px;
}

.inquiries form .actions input {
}

.inquiries .field {
    margin: 12px 0px;
}

.inquiries form {
    padding-top: 12px;
}

/* put your main css here */