/* refinery default styles */
#featured_image {
    width: 587px;
    height: 444px;
    background: #BCCED8;
}
#featured_item {
    margin-top: 48px;
    background: #E1E1E1;
    padding: 10px;
}
#featured_item h2 {
    margin: 11px 0px 27px 0px;
}
#featured_item_text {
    width: 180px;
    margin-right: 20px;
    float: left;
}
#featured_item_image {
    height: 134px;
    width: 134px;
    background: #BCCED8;
    float: left;
}

/* place styles relevant to only the homepage here */