div.overlabel-field {
  position:relative;
  float:left;
  margin-right:3px;
}

label.overlabel {
  position:absolute;
  top:3px;
  left:5px;
  z-index:1;
  color:#999;
}

label.overlabel-apply {
    position:absolute;
    top:3px;
    left:5px;
    z-index:1;
    color:#999;
}