/*TRYING TO RESET STYLES THAT MAY INTERFERE WITH WYMEDITOR*/
    .wym_skin_refinery p, .wym_skin_refinery h2, .wym_skin_refinery h3,
    .wym_skin_refinery ul, .wym_skin_refinery li { background: transparent; margin: 0; padding: 0; border-width:0; list-style: none; }


/*HIDDEN BY DEFAULT*/
    .wym_skin_refinery .wym_area_left      { display: none; }
    .wym_skin_refinery .wym_area_right     { display: block; }


/*TYPO*/
    .wym_skin_refinery        { font-size: 62.5%; font-family: Verdana, Arial, sans-serif; }
    .wym_skin_refinery h2       { font-size: 110%; /* = 11px */}
    .wym_skin_refinery h3       { font-size: 100%; /* = 10px */}
    .wym_skin_refinery li       { font-size: 100%; /* = 10px */}


/*WYM_BOX*/
    .wym_skin_refinery        { border: 1px solid #CCCCCC; background: #F2F2F2; padding: 5px 5px 0px 5px}

  /*auto-clear the wym_box*/
    .wym_skin_refinery:after       { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 * html .wym_skin_refinery        { height: 1%;}


/*WYM_HTML*/
    .wym_skin_refinery .wym_html         { width: 100%;}
    .wym_skin_refinery .wym_html textarea    { width: 100% !important; height:400px; border: 1px solid gray; background: white;  }

/*WYM_IFRAME*/
    .wym_skin_refinery .wym_iframe       { width: 100%; }
    .wym_skin_refinery .wym_iframe iframe { border: 1px solid #CCCCCC;}
    .wym_skin_refinery .wym_iframe iframe    { width: 100%; background: white }
    textarea.wymeditor, .wym_skin_refinery .wym_iframe iframe { height: 400px; }

/*AREAS*/
    .wym_skin_refinery .wym_area_left      { width: 150px; float: left;}
    .wym_skin_refinery .wym_area_right     { width: 150px; float: right;}
    .wym_skin_refinery .wym_area_bottom    { height: 1%; clear: both;}
 * html .wym_skin_refinery .wym_area_main      { height: 1%;}
 * html .wym_skin_refinery .wym_area_top       { height: 1%;}
 *+html .wym_skin_refinery .wym_area_top       { height: 1%;}

/*SECTIONS SYSTEM*/

  /*common defaults for all sections*/
    .wym_skin_refinery .wym_section      { margin-bottom: 5px; }
    .wym_skin_refinery .wym_section h2,
    .wym_skin_refinery .wym_section h3     { padding: 1px 3px; margin: 0; }
    .wym_skin_refinery .wym_section a      { padding: 0 3px; display: block; text-decoration: none; color: black; }
    .wym_skin_refinery .wym_section a:hover, .wym_skin_refinery .wym_section a.selected  { background-color: #BCBCBC; }
    /*hide section titles by default*/
    .wym_skin_refinery .wym_section h2     { display: none; }
    /*disable any margin-collapse*/
    .wym_skin_refinery .wym_section      { padding: 0px;}
    /*auto-clear sections*/
    .wym_skin_refinery .wym_section ul:after   { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 * html .wym_skin_refinery .wym_section ul     { height: 1%;}

  /*option: add this class to a section to make it render as a panel*/
    .wym_skin_refinery .wym_panel        { }
    .wym_skin_refinery .wym_panel h2       { display: block; }

  /*option: add this class to a section to make it render as a dropdown menu*/
    .wym_skin_refinery .wym_dropdown h2    { display: block; }
    .wym_skin_refinery .wym_dropdown ul    { display: none; position: absolute; background: white; }
    .wym_skin_refinery .wym_dropdown:hover ul,
    .wym_skin_refinery .wym_dropdown.hover ul  { display: block; }

  /*option: add this class to a section to make its elements render buttons (icons are only available for the wym_tools section for now)*/
    .wym_skin_refinery .wym_buttons li     { float:left;}
    .wym_skin_refinery .wym_buttons a          { width: 20px; height: 20px; overflow: hidden; padding: 2px }
    /*image replacements*/
    .wym_skin_refinery .wym_buttons li a             { text-indent: -9999px;background-repeat: no-repeat;background-position: 4px 4px;}
    .wym_skin_refinery .wym_buttons li.wym_tools_strong a    { background-image: url('/images/wymeditor/skins/refinery/text_bold.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_emphasis a    { background-image: url('/images/wymeditor/skins/refinery/text_italic.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_superscript a   { background-image: url('/images/wymeditor/skins/refinery/text_superscript.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_subscript a   { background-image: url('/images/wymeditor/skins/refinery/text_subscript.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_ordered_list a  { background-image: url('/images/wymeditor/skins/refinery/text_list_numbers.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_unordered_list a{ background-image: url('/images/wymeditor/skins/refinery/text_list_bullets.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_indent a    { background-image: url('/images/wymeditor/skins/refinery/text_indent.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_outdent a    { background-image: url('/images/wymeditor/skins/refinery/text_indent_remove.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_undo a      { background-image: url('/images/wymeditor/skins/refinery/arrow_undo.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_redo a      { background-image: url('/images/wymeditor/skins/refinery/arrow_redo.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_link a      { background-image: url('/images/wymeditor/skins/refinery/link_add.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_unlink a    { background-image: url('/images/wymeditor/skins/refinery/link_break.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_image a     { background-image: url('/images/wymeditor/skins/refinery/photo_add.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_table a     { background-image: url('/images/wymeditor/skins/refinery/table_add.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_paste a     { background-image: url('/images/wymeditor/skins/refinery/page_paste.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_html a      { background-image: url('/images/wymeditor/skins/refinery/page_code.png');}
    .wym_skin_refinery .wym_buttons li.wym_tools_preview a     { background-image: url('/images/wymeditor/skins/refinery/eye.png');}

    /* make tools and containers play nicely next to eachother */

    .wym_skin_refinery .wym_tools, .wym_skin_refinery .wym_containers   { float: left; margin: 0px 0px 5px 0px; }

    /* image replacements for containers */
        .wym_skin_refinery .wym_containers li { float: left; }
    .wym_skin_refinery .wym_containers li a, .wym_skin_refinery li.wym_tools_class a {background-repeat: no-repeat; background-position: center center;width: 20px; height: 20px; overflow: hidden; padding: 2px; border: 0px none;}

    .wym_skin_refinery li.wym_containers_h1 a   { background-image: url('/images/wymeditor/skins/refinery/text_heading_1.png'); }
    .wym_skin_refinery li.wym_containers_h2 a   { background-image: url('/images/wymeditor/skins/refinery/text_heading_2.png');}
    .wym_skin_refinery li.wym_containers_h3 a   { background-image: url('/images/wymeditor/skins/refinery/text_heading_3.png');}
    .wym_skin_refinery li.wym_containers_h4 a   { background-image: url('/images/wymeditor/skins/refinery/text_heading_4.png');}
    .wym_skin_refinery li.wym_containers_h5 a   { background-image: url('/images/wymeditor/skins/refinery/text_heading_5.png');}
    .wym_skin_refinery li.wym_containers_h6 a   { background-image: url('/images/wymeditor/skins/refinery/text_heading_6.png');}
    .wym_skin_refinery li.wym_containers_p a   { background-image: url('/images/wymeditor/skins/refinery/text_paragraph.png');}
    .wym_skin_refinery li.wym_tools_class a { background-image: url('/images/wymeditor/skins/refinery/style.png');}

/*DECORATION*/
    .wym_skin_refinery .wym_section h2       { background: #DDD; border: solid gray; border-width: 0 0 1px;}
    .wym_skin_refinery .wym_section h2 span    { color: gray;}
    .wym_skin_refinery .wym_panel          { padding: 0; border: solid gray; border-width: 1px; background: white;}
    .wym_skin_refinery .wym_panel ul         { margin: 2px 0 5px; }
    .wym_skin_refinery .wym_dropdown         { padding: 0; border: solid gray; border-width: 1px 1px 0 1px; }
    .wym_skin_refinery .wym_dropdown ul      { border: solid gray; border-width: 0 1px 1px 1px; margin-left: -1px; padding: 5px 10px 5px 3px;}

/*DIALOGS*/
    .wym_dialog div.row     { margin-bottom: 5px;}
    .wym_dialog div.row input   { margin-right: 5px;}
    .wym_dialog div.row label   { float: left; width: 150px; display: block; text-align: right; margin-right: 10px; }
    .wym_dialog div.row-indent  { padding-left: 160px; }
    /*autoclearing*/
    .wym_dialog div.row:after      { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .wym_dialog div.row          { display: inline-block; }
    /* Hides from IE-mac \*/
    * html .wym_dialog div.row     { height: 1%; }
    .wym_dialog div.row        { display: block; }
    /* End hide from IE-mac */

/*WYMEDITOR_LINK*/
    a.wym_wymeditor_link    { text-indent: -9999px; float: right; display: block; width: 50px; height: 15px; background: url(../wymeditor_icon.png);  overflow: hidden; text-decoration: none;  }


/* hide containers and classes */
.wym_skin_refinery .wym_area_right, .wym_skin_refinery .wym_area_bottom {
  display: none !important;
}
.wym_skin_refinery .wym_area_main {
  margin-right: 0px !important;
}

.wym_skin_refinery .wym_buttons ul, .wym_buttons ul li {
  margin: 0px;
}

.wym_skin_refinery .wym_buttons li a {
  border-bottom: 0px !important;
}

#dialog_frame {
  width:928px;
  height:500px;
  padding: 0px;
  border: 0px solid #F2F1ED;
}
.wym_hideables {
  display: none;
}

.wym_classes {
  display: block;
  position: absolute;
  left: 0px;
  top: 29px;
  width: 200px;
  border-color: gray;
  border-style: solid;
  border-width: 0px 1px 1px 1px !important;
}
.wym_classes_hidden {
  display: none;
}
.wym_tools_class.activated {
  position: relative;
}
.wym_skin_refinery .wym_buttons .wym_tools_class .wym_classes li {
  float: left;
  width: 200px;
  cursor: pointer;
  background-color: #F6F5F4;
}
.wym_skin_refinery .wym_buttons .wym_tools_class .wym_classes li a {
  text-indent: 0px;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: auto;
}
.wym_skin_refinery .wym_tools_class .wym_classes .wym_tools_class_multiple_rules span {
  display: block;
  cursor: auto;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  margin: 3px 0px 0px 6px;
  background: #EDEEDE;

}
.wym_skin_refinery .wym_tools_class .wym_tools_class_multiple_rules ul li {

}
.wym_skin_refinery .wym_tools_class .wym_classes .wym_tools_class_multiple_rules ul li a {
  width: 167px;
  padding-left: 12px;
  padding-right: 21px;
  height: 16px;
  line-height: 18px;
}

.wym_skin_refinery .wym_tools_class .wym_classes li.enabled a {
    background-image: url('/images/refinery/icons/star.png');
    background-repeat: no-repeat;
    background-position: 181px 2px;
}

.wym_skin_refinery .wym_status.wym_section {display: none;}

.wym_skin_refinery {opacity: 0;}