/* -------------------- EDITOR -------------------- */

[contenteditable=true]:empty,
[contenteditable=true] .empty {
  display: inline-block;
  min-width: 150px;
  &:before {
    content: attr(glass-placeholder);
    display: block; /* For Firefox */
    color: $gray-5;
    transition: .15s ease-out;
    cursor: text;
  }
  &:focus {
    &:before {
      color: $gray-4;
    }
  }
}

[contenteditable=true] p.empty:first-of-type:before {
  content: 'New paragraph...';
  position: absolute;
}

[contenteditable=true] p.empty {
  min-height: 18px;
  z-index: 0;
}

[contenteditable=true] {
  outline: none;
  border-color: $cms-fade !important;
}

.input-group {
  .input-group-addon {
    background: $off-white;
    border-color: $gray-2;
  }
  .form-control {
    border-color: $gray-2;
  }
}

.selected-module {
  /*background: $gray-4;*/
}

#page-preview {
  .add-module {
    position: absolute;
    left: -50px;
    margin-top: 0px;
    .icon-plus {
      font-size: 12px;
    }
  }
  .new-module {
    display: block;
    clear: both;
    margin-bottom: 15px;
    top: -3px;
  }
  .media-chooser {
    .form-group {
      margin: 0;
      .input-group {
        top: -5px;
        max-width: 500px;
        height: 42px;
        .input-group-addon {
          line-height: 24px;
        }
        .input-group-btn {
          width: auto;
          display: block;
          .btn {
            height: 42px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.settings {
  background: $off-white;
  border-left: 1px solid $gray-1;
  position: fixed !important;
  right: 0;
}

#page-preview {
  .navbar-fixed-top {
    padding-left: 45px;
    padding-right: 45px;
    z-index: 960px;
  }
}

.click-pads {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .click-pad {
    cursor: text;
    position: absolute;

    &.bottom, &.top {
      left: 0;
      right: 0;
    }
    &.top {
      height: 20px;
      top: -20px;
    }
    &.bottom {
      height: 20px;
      bottom: -20px;
    }

    &.left, &.right {
      top: 0;
      bottom: 0;
    }
    &.left {
      left: -100px;
      width: 100px;
    }
    &.right {
      right: -100px;
      width: 100px;
    }
  }
}

.image-group{
  &.inline-module-fw{
    width: calc(100vw - 15px);
    margin-left: 0;
  }
}

.inline-module-fw{
  width: calc(100vw - 45px);
}

.image-group {
  &.active {
    display: flex;
    flex-wrap: wrap;
    .inline-editable-image-container {
      .img-layout {
        display: none;
      }
    }
  }
  .inline-editable-image-container {
    flex: 1;
    margin: 0 15px;
  }
}

.link-items {
  width: 20px !important;
  height: 20px !important;
  position: absolute;
  z-index: 100;
  line-height: 6px !important;
  transition: .2s $bezier, top 0, left 0;
  .icon {
    font-size: 10px;
    top: -4px;
    line-height: 6px;
  }
  &.link {
    left: 50%;
    bottom: -25px;
    margin-left: -10px;
  }
  &.unlink {
    left: 100%;
    top: 50%;
    margin: -10px 0 0 5px;
  }
}

.inline-module {
  &:hover {
    .module-layout {
      opacity: 1 !important;
    }
  }
  .module-layout {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .2s ease-out;
    z-index: 50;
    button {
      background: $white;
      border-color: $gray-2;
      color: $gray-6;
      margin-right: 5px;
      transition: .2s ease-out;
      &:hover {
        background: $cms-hover;
        border-color: $cms-color;
        color: $white;
      }
      .icon {
        font-size: 17px;
      }
    }
  }
}

/* grande hidden form */
.pos-abs {
  position: absolute;
  left: -500px;
}