/* -------------------- NAVIGATION -------------------- */

// SIDEBARS

.sidebar {
  position: fixed;
  z-index: 1035;
  height: 100%;
  transition: .2s $bezier;
  background: $off-white;
  .sidebar-top-nav {
    position: fixed;
    z-index: 10000;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 65px;
    white-space: nowrap;
    background: $gray-1;
  }
  .sidebar-inner {
    z-index: 1002;
    top: 65px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 15px;
  }
}

.sidebar.left {
  @include media-breakpoint-down(xs) {
    z-index: 1037;
    width: 0;
  }
  width: 45px;
  transition: .2s .3s ease-out;
  transform: translate3d(0%, 0%, 0);
  &:hover {
    @include media-breakpoint-up(sm) {
      width: 260px;
      transition: .2s ease-out;
    }
  }
  &.active {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
  .sidebar-top-nav {
    .site-name {
      @include media-breakpoint-down(xs) {
        width: 100%;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 260px;
      height: 65px;
      padding: 18px 15px;
      text-align: right;
      background: $gray-1;
      a {
        font-size: 21px;
        font-weight: 600;
        line-height: 20px;
        color: $gray-6;
        &:hover {
          color: $cms-dark;
        }
      }
    }
    .icon-glass-canvas {
      display: inline !important;
      visibility: visible !important;
      margin: 0 10px 0 0;
      color: $gray-5;
    }
  }
  .sidebar-inner {
    height: calc(100% - 110px);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .log-out {
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    padding: 9px 15px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    color: $gray-6;
    background: darken($off-white, 3%);
    &:hover {
      color: $white;
      background: $cms-hover;
    }
    .icon {
      left: 3px;
    }
  }
  li {
    margin: 0 0 1px;
    white-space: nowrap;
    .icon {
      margin-right: 4px;
      text-align: center;
      color: $gray-6;
    }
    a {
      @include transition-fix();
      @include ellipsis(100%);
      display: block;
      width: 100%;
      min-width: 200px;
      padding: 10px 15px 6px;
      font-size: 16px;
      font-weight: 400;
      transition: .1s $bezier;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $gray-6;
      &:hover {
        color: $cms-dark;
        border-bottom: 0;
        background: $white-opaque;
        .icon {
          color: $cms-dark;
        }
      }
      > .icon {
        min-width: 18px;
        margin-right: 8px;
      }
    }
    .active {
      border-right: 2px solid $cms-color;
      background: lighten($off-white, 6%);
    }
    ul {
      margin-bottom: 10px;
      padding-top: 1px;
      li {
        a {
          padding: 4px 15px 4px 30px;
          font-size: 13px;
          font-weight: 400;
          background: lighten($off-white, 3%);
        }
      }
    }
  }
  .list-heading {
    padding: 10px 15px 6px 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: darken($white-opaque, 3%);
    .icon {
      margin-right: 8px;
    }
  }
}

.sidebar.inverted {
  background-color: $cms-color;
  &.left {
    li {
      a {
        &:not(:hover) {
          &:not(:focus) {
            color: $white;
            .icon {
              color: $gray-1;
            }
          }
        }
      }
    }
    .active {
      border-color: $off-white;
      background-color: rgba($white, .1);
      &:hover {
        background-color: rgba($white, .75);
      }
    }
  }
  .sidebar-top-nav {
    color: $white;
    .site-name {
      color: $white;
      background-color: $cms-dark;
      a {
        color: $white;
        &:hover {
          color: $gray-3;
        }
      }
    }
    .icon-glass-canvas {
      color: $gray-3;
    }
  }
  .log-out {
    color: $white;
    background-color: $cms-dark;
  }
}



/* -------------------- BUTTONS -------------------- */

.cms-ui,
.glass-ui {
  .btn-primary {
    @include button-outline-inverted-variant($cms-color);
  }
  .btn-outline-secondary {
    @include button-outline-cms-variant($gray-6);
    border-color: $gray-3;
  }
  .btn-link {
    color: $cms-color;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $cms-hover;
    }
  }
  .btn-link-gray {
    color: $gray-6;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $cms-color;
    }
  }
  .btn-white-red {
    @include button-variant-inverted($red, $white, $white);
  }
  .btn-link-red {
    color: $red;
    &:link,
    &:visited {
      color: $red;
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
      text-decoration: none;
      color: lighten($red, 15);
      box-shadow: none;;
    }
  }
  a:not(.btn) {
    color: $cms-color;
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $cms-hover;
    }
  }
  .btn-default {
    @include button-primary-variant($gray-6, $gray-1, $gray-1);
  }
}
