<p>
  <%= t('reset_request_received_for', :scope => 'refinery.user_mailer.reset_notification', :username => @user.username) %>
</p>
<p>
  <%= t('visit_this_url', :scope => 'refinery.user_mailer.reset_notification') %>:
</p>
<p>
  <%= @url %>
</p>
<p>
  (<%= t('remain_same_if_no_action', :scope => 'refinery.user_mailer.reset_notification') %>)
</p>
