<section id='quick_tasks'>
  <h2>Quick tasks</h2>
  <%= render :partial => 'quick_tasks' %>
</section>

<section class='clearfix'>
  <%= render :partial => "recent_activity" if @recent_activity.present? %>
  <%= render :partial => "recent_inquiries" if @recent_inquiries.present? %>
</section>

<% if request.env["HTTP_USER_AGENT"] =~ /MSIE/ and
        ::Refinery::Setting.find_or_set(:show_internet_explorer_upgrade_message, true, :scoping => 'refinery') %>
  <% flash.now[:message] = render(:partial => "/refinery/ie6check")  %>
<% end %>