<div class='clearfix'>
  <section id='records' class='clearfix<%= ' one_list' if @recent_activity.empty? or @recent_inquiries.empty? %>'>
    <%= render 'records' %>
  </section>
  <aside id='actions'>
    <h2><%= t('.quick_tasks') %></h2>
    <%= render 'actions' %>
  </aside>
</div>
