$flash-green: #308606;
$flash-red: #860606;

#flash_container {
  margin-bottom: 10px;
  
   .flash {
    border-radius: 5px;
    padding: 7px 7px 7px 27px;
   }
  
  .flash_notice {
    border: 1px solid $flash-green;
    background: #CEF5BA url('/assets/refinery/icons/accept.png') no-repeat 6px 6px;
  }
  
  .flash_notice, .flash_notice a {
    color: $flash-green;
  }
  
  .flash_alert {
    border: 1px solid $flash-red;
    background: #F5BABA url('/assets/refinery/icons/cancel.png') no-repeat 6px 6px;
  }
  
  .flash_alert, .flash_alert a {
    color: $flash-red;
  }
  
  #flash_close {
    float: right;
  }
}