/* styles for the main navigation of the Refinery backend */

#loader {
  float: left;
  margin-top: 3px;
  position: absolute;
  right: 15px;
}

header nav#menu {
  margin-top: -5px;
  padding-top: 45px;
  background: url('/assets/refinery/menu-top-panel.png') no-repeat;
  
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    
    li {
      margin: 0px;
      padding: 0px;
    }

    a {
      display: block;
      text-align: left;
      text-decoration: none;
      line-height: 40px;
      background: #EAEAEA url('/assets/refinery/menu-band.png') repeat-y 175px 0px;
      padding-left: 20px;
      border-top: 1px solid #DADADA;
      border-right: 1px solid #DADADA;
      color: #0770AD;
      text-shadow: 0px 1px 1px white;
      position: relative;

      &.active {
        background: #F7F7F7;
        color: #3F3F3F;
        border-right: none;
      }
    }
    
    ul a {
        color: white;
        background: #29ACF6 url('/assets/refinery/menu-stripes.png');
        text-shadow: 0px 1px 1px #1693DA;
        border-top: 1px solid #1693DA;
        box-shadow: inset -3px 3px 0px rgba(22,147,218,0.4);
    }
  }
}