#records {
  .pagination {
    margin-top: 10px;
    text-align: right;
    background: #E7E7E7;
    height: 34px;
    line-height: 34px;
    padding-right: 12px;
    
    span {
      a {
        color: #0770AD;
        text-shadow: 0px 1px 0px white;
        text-decoration: none;
        display: inline-block;
        padding: 0px 5px;
        margin: 2px 0px;
      }

      &:hover {
        background: white;
      }
    }
  }
  
  table {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    width: 100%;
    
    tr {
      list-style: none;
      border-bottom: 1px solid #DEDEDE;
      color: #0e87cd;
    }
    
    th {
      text-align: left;
      color: #222;
    }
    
    .thumbnail {
      width: 35px;
    }
    
    .widest {
      width: 70%;
    }
    
    .options {
      width: 50px;
    }
    
    td {
      color: #848484;
    }
    
    td img {
      margin-top: 10px;
    }
    
    td, th {
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
    }
    
    tr:hover {
      background: #CEE8F7;
      border-bottom: 1px solid #CEE8F7;
    }
    
    a {
      color: #0E87CD;
      text-decoration: none;
    }
  }
}

.search_form {
  float: right;
}

/* image grid used for images engine */
#image_grid {
  margin: 20px 0px 0px 0px;
  padding: 0px;
  
  li {
    margin: 0px;
    float: left;
    list-style: none;
    position: relative;
    margin: 0px 20px 21px 0px;
    
    .actions {
      position: absolute;
      display: block;
      bottom: 3px;
      line-height: 20px;
      padding: 0px 2px;
      text-align: center;
      background: white;
      width: 135px;
      opacity: 0.8;
      
      a {
        text-decoration: none;
      }
    }
  }
}

.search_form {
  #search_button {
    border: 1px solid #979797;
    border-radius: 5px;
    color: #006699;
    text-align: center;
    text-shadow: 0px 1px 1px white;
    text-decoration: none;
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(194,194,194)),
        color-stop(1, rgb(246,246,246))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(194,194,194) 0%,
        rgb(246,246,246) 100%
    );
  }
}