/* base styles for the Refinery backend look and feel */

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  background: #DADADA url('/assets/refinery/page-background.png') repeat-y;
  color: #222;
  
  & > header {
    float: left;
    width: 179px;
  }
}

#page {
  float: left;
  padding: 30px 35px;
  width: 70%;
  margin-bottom: 30px;
}

#page h2 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 8px;
  box-shadow: 0px 1px 0px white;
  color: #3F3F3F;
}


@import 'refinery/icons';
@import 'refinery/tooltips';
@import 'refinery/browser-hacks';
@import 'refinery/dashboard';
@import 'refinery/site_bar';
@import 'refinery/dialogs';
@import 'refinery/forms';
@import 'refinery/menu';
@import 'refinery/submenu';
@import 'refinery/tooltips';
@import 'refinery/records';
@import 'refinery/flash-messages';
@import 'wymeditor/skins/refinery/skin';
