#site_bar {
  background: #22a7f2;

  #site_bar_content {
    color: white;
    font-family: Arial;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0 auto;
    max-width: 1080px;
    padding: 0.8em 0.8em 0.5em;
    zoom: 1;

    &:before,
    &:after { content: ""; display: table; }
    &:after { clear: both; }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    #editor_switch {
      text-align: center;

      @media screen and (min-width: 37.5em) {
        text-align: left;
      }

      a {
        background: #ff8951;
        background: -moz-linear-gradient(top, #ff8951 0%, #d14808 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff8951), color-stop(100%, #d14808));
        background: -webkit-linear-gradient(top, #ff8951 0%, #d14808 100%);
        background: -o-linear-gradient(top, #ff8951 0%, #d14808 100%);
        background: -ms-linear-gradient(top, #ff8951 0%, #d14808 100%);
        background: linear-gradient(to bottom, #ff8951 0%, #d14808 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8951', endColorstr='#d14808', GradientType=0 );
        border: 1px solid #fca87f;
        border-bottom: 0px none;
        display: inline-block;
        margin-right: 0.3em;
        margin-bottom: 0.5em;
        padding: 0.15em 1em 0.25em;

        &:hover {
          background: #d14908;
          text-decoration: none;
        }
      }
    }

    #site_bar_refinery_cms_logo {
      background: image_url('refinery/logo-site-bar.png') no-repeat 0 0;
      display: none;
      height: 29px;
      overflow: hidden;
      margin-top: -2px;
      position: relative;
      width: 96px;

      @media screen and (min-width: 58em) {
        display: block;
      }

      span {
        position: absolute;
        left: -1000em;
      }

      &:hover {
        background-position: 0 100%;
      }
    }

    #site_bar_branding {
      display: block;
      text-align: center;
      margin-top: 0.5em;

      @media screen and (min-width: 37.5em) {
        margin-top: 0.25em;
        text-align: right;
      }

      #site_bar_company_name {
        display: block;
        font-weight: bold;

        @media screen and (min-width: 37.5em) {
          display: inline-block;
        }
      }

      #logout {
        display: block;
        margin-left: 0.9em;

        @media screen and (min-width: 37.5em) {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (min-width: 37.5em) {
  #site_bar {
    #site_bar_content {
      #editor_switch,
      #site_bar_branding {
        float: left;
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 58em) {
  #site_bar {
    #site_bar_content {
      #editor_switch {
        width: 50%;
      }

      #site_bar_branding {
        width: 38%;
      }

      #site_bar_refinery_cms_logo {
        float: left;
        width: 12%;
      }
    }
  }
}
