/* styles for the top site bar that appears on the front and backend */

$off-white: #f1f1f1;

#site_bar {
  color: $off-white;
  height: 27px;
  text-align: center;
  text-shadow: 0px -1px 1px black;
  padding: 8px 21px 0px 14px;
  background: #454545;
  border-bottom: #3B3B3B 5px solid;
  font-family: Arial, sans-serif;
  font-size: 13px;
  
  #site_bar_content {
    margin-top: 2px;
  }
  
  a {
    color: #48bcff;
    text-decoration: none;
  }
  #switch {
    float: left;
    
    a {
      background: #3b3b3b;
      display: inline-block;
      padding: 5px 15px;
      color: $off-white;
      box-shadow: inset -1px -1px 0px #656565;
      border-radius: 15px;
      min-width: 117px;
    }
  }
  #site_name {
    font-weight: bold;
    font-size: 14px;
    
    a {
      color: $off-white;
      background: url('/assets/refinery/refinery-flame.png') no-repeat 0px 1px;
      padding-left: 36px;
    }
  }
  #account_info {
    float: right;
    
    span.separator {
      color: #5c5c5c;
      padding: 0px 6px;
    }
    
    img {
      display: inline-block;
      vertical-align: middle;
      margin: -4px 9px 0px 0px;
      
    }
  }
}