$background_color: #555555;

@mixin rounded($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  -ms-box-sizing: $box-model;
  box-sizing: $box-model;
}

#site_bar,
#site_bar *,
#site_bar *:before,
#site_bar *:after {
  @include box-sizing(content-box);
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5em;
}
#site_bar {
  padding: 0px;
  background: $background_color;
  background: $background_color image_url('refinery/page_bg.png') repeat;
  border-bottom: solid 1px black;
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  .button {
    @include rounded(0.5em);
    display: block;
    float: left;
    background: #333333;
    padding: 0.25em 1em;
    margin: 0.25em 0.5em 0.25em 0;
    height: auto;
    &:hover {
      background: black;
    }
  }

  #site_bar_content {
    position: relative;
    margin: 0 2em 0 2em;
    text-align: left;
  }
  .refinerycms-site_bar-user {
    float: right;
    margin-right: 0;
    border-left: solid 1px black;
    padding-left: 2em;
    .refinerycms-site_bar-user-name {
      float: left;
      line-height: 32px
    }
    a {
      font-weight: normal;
      &#logout {
        margin-left: 12px;
      }
    }
  }
}
#editor_switch,
a#site_bar_refinery_cms_logo {
  float: left;
  margin-right: 2em
}
a#site_bar_refinery_cms_logo {
  left: 0;
  border-bottom: none;
  line-height: 0;
  height: 28px;
  margin: 2px 2em 2px 0;
  overflow: hidden;
  &:hover {
    border-bottom: none;
    opacity: 1;
    img {
      margin-top: -28px;
    }
  }
}


.ie7 #site_bar #editor_switch a {
  height: 26px;
  line-height: 26px;
}
