<ul>
  <li><%= render '/refinery/admin/search', url: refinery.admin_pages_path -%></li>
  <li>
    <%= action_label :add, refinery.new_admin_page_path, t('.create_new_page') %>
  </li>
<% if @pages.many? and !searching? %>
  <li>
    <%= action_label :reorder, refinery.admin_pages_path, t('.reorder_pages'), id: 'reorder_action'%>
    <%= action_label :reorder_done, refinery.admin_pages_path, t('.reorder_pages_done'), id: 'reorder_action_done', class: 'hidden'%>
  </li>
<% end %>
</ul>
