<% content_for :admin_submenu do %>
  <ul id="actions" class="list-unstyled active">
    <li>
      <%= link_to '<i class="gcicon gcicon-add"></i>'.html_safe + t('.create_new_page'), refinery.new_admin_page_path %>
    </li>
  </ul>
<% end %>
