<div class="root_only">
  <%= link_to 'Header Options', "#", :id => 'toggle_header_options', :title => 'Toggle Header Options' %>
  <div id="header_options" style = "display:none">
    <div class="field">
      <%= f.label :image_id, 'Device Icon ID'%>
      <%= f.text_field :image_id%>
    </div>
  </div>    
</div>