<div class='page_part' id='<%= new_part ? "page_part_new_#{part_index}" : part.to_param %>'>
  <%= hidden_field_tag "page[parts_attributes][#{part_index}][title]", part.title if new_part %>
  <%= hidden_field_tag "page[parts_attributes][#{part_index}][body]", part.body, :id => "#{part.to_param}_body" %>
  <%= hidden_field_tag "page[parts_attributes][#{part_index}][position]", part_index %>
</div>
