<% if searching? %>
  <h2><%= t('results_for', :scope => 'refinery.admin.search', :query => params[:search]) %></h2>
<% end %>
<% if @pages.any? %>
  <%= render 'sortable_list' %>
<% else %>
  <p>
    <% unless searching? %>
      <strong><%=t('.no_pages_yet')%></strong>
    <% else %>
      <%= t('no_results', :scope => 'refinery.admin.search') %>
    <% end %>
  </p>
<% end %>
