<% if searching? %>
  <h2><%= t('results_for', :scope => 'refinery.admin.search', :query => params[:search]) %></h2>
<% end %>
<% if @pages.any? %>
  <ul id='sortable_list'>
    <%= render :partial => 'page', :collection => @pages.select{|p| p.parent_id.nil?}  %>
  </ul>
<% else %>
  <p>
    <% unless searching? %>
      <strong><%=t('.no_pages_yet')%></strong>
    <% else %>
      <%= t('no_results', :scope => 'refinery.admin.search') %>
    <% end %>
  </p>
<% end %>
