<section id='records' class='tree'>
  <% cache_if(Refinery::Pages.config.cache_pages_backend, [Refinery.base_cache_key, "pages_backend", Globalize.locale].join('_')) do %>
    <%= render :partial => 'records' %>
  <% end %>
</section>
<section id='actions'>
  <%= render :partial => 'actions' %>
</section>
<%= render :partial => "/refinery/admin/make_sortable",
           :locals => {:tree => true} if @pages.many? -%>
