<section id='records' class='tree'>
  <% cache_if(Refinery::Pages.cache_pages_backend, [Refinery::Core.base_cache_key, "pages_backend", Globalize.locale].join('_')) do %>
    <%= render 'records' %>
  <% end %>
</section>
<section id='actions'>
  <%= render 'actions' %>
</section>
<%= render '/refinery/admin/make_sortable', :tree => true if @pages.many? -%>
