<section id='records' class='tree'>
  <%= render 'records' %>
</section>
<section id='actions'>
  <%= render 'actions' %>
</section>
<%= render '/refinery/admin/make_sortable', options: {tree: true, replaceContentsAfterUpdate: true} if @pages.many? -%>
