<% if object.errors.any? %>
<div class="errorExplanation error_icon" id="errorExplanation">
  <p><%= t('.problems_in_following_fields') %>:</p>
  <ul>
  <% if defined?(include_object_name) and include_object_name %>
    <% object.errors.each do |error| %>
      <li><%= error.message %></li>
    <% end %>
  <% else %>
    <% object.errors.each do |error| %>
      <li><%= error.message %></li>
    <% end %>
  <% end %>
  </ul>
</div>
<% end %>
