<% if object.errors.any? %>
<div class="errorExplanation error_icon" id="errorExplanation">
  <p><%= t('.problems_in_following_fields') %>:</p>
  <ul>
  <% if defined?(include_object_name) and include_object_name %>
    <% object.errors.full_messages.each do |value| %>
      <li><%= value %></li>
    <% end %>
  <% else %>
    <% object.errors.each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  <% end %>
  </ul>
</div>
<% end %>
