<div id="more_options_field" >
  <p>
    <%= action_label(:settings, '#', t('.toggle_advanced_options'), id: 'toggle_advanced_options') %>

  <span id="draft_field">
    <%= f.check_box :draft %>
    <%= f.label :draft, t('.save_as_draft'),
                :class => 'stripped' %>
  </span>
   </p>
</div>
