<input type="hidden" name="switch_locale" id="switch_locale" value="<%= local_assigns[:current_locale] %>" />
<% if Refinery::I18n.frontend_locales.many? %>
  <ul id="switch_locale_picker" class="clearfix">
    <% Refinery::I18n.frontend_locales.each do |locale| %>
      <li<%= %Q{ class=selected} if locale.to_s == local_assigns[:current_locale].to_s %>>
        <%= link_to refinery_icon_tag(%Q{flags/#{locale}.png}, :size => '32x22'),
                    refinery.url_for(:switch_locale => locale, :parent_id => params[:parent_id]) %>
      </li>
    <% end %>
  </ul>
<% end %>
