<input type="hidden" name="switch_locale" id="switch_locale" value="<%= local_assigns[:current_locale] %>" />
<% if Refinery::I18n.frontend_locales.many? %>
  <label><%= t('.language') %></label>
  <div id="switch_locale_picker" class='locales'>
    <% Refinery::I18n.frontend_locales.each do |locale, language| %>
        <% classes = locale.to_s == local_assigns[:current_locale].to_s ? 'selected' : '' %>
        <%= edit_in_locale(locale,
                           url: refinery.url_for(parent_id: params[:parent_id]),
                           title: language, class: classes, label: true ) %>
    <% end %>
  </div>
<% end %>
