<div id='loader' style='display: none;'>
  <%= image_tag 'refinery/loader.gif'%>
</div>
<nav id="menu">
  <ul>
    <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
      <% active = plugin.highlighted?(params) %>
      <li>
        <%= link_to plugin.title, plugin.url,
                    :class => ("active" if active),
                    :id => "plugin_#{plugin.name}" %>

        <% if plugin.submenu_items.any? %>
          <ul<%= " style='display: none'" unless active %>>
            <% plugin.submenu_items.each do |title, url| %>
              <li><%= link_to title, url %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end -%>
  </ul>
</nav>