<div id='loader' style='display: none;'>
  <%= image_tag 'refinery/loader.gif'%>
</div>
<nav id="menu">
  <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
    <%= link_to plugin.title, plugin.url,
                :class => ("active" if plugin.highlighted?(params)),
                :id => "plugin_#{plugin.name}" %>
  <% end -%>
  <% if ::Refinery::Plugins.active.in_menu.many? -%>
    <%= link_to refinery_icon_tag('arrow_switch.png'), "",
                :id => "menu_reorder",
                :title => t('.reorder_menu') %>

        <%= render plugin.actions if plugin.actions.present? %>
      </li>
    <% end -%>
  </ul>
</nav>
