<li>
  <%= link_to "<i class='#{menu_item.icon}'></i> #{menu_item.title}".html_safe, refinery.url_for(menu_item.url),
    :class => ("active" if menu_item.highlighted?(params)),
    :id => "plugin_#{menu_item.name}" %>
  <% if menu_item.highlighted?(params) %>
    <%#= yield :admin_submenu %>
  <% end %>
</li>
