<nav id="menu">
  <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
    <%= link_to plugin.title, refinery.url_for(plugin.url),
                :class => ("active" if plugin.highlighted?(params)),
                :id => "plugin_#{plugin.name}" %>
  <% end -%>
  <% if ::Refinery::Plugins.active.in_menu.many? -%>
    <%= link_to refinery_icon_tag('arrow_switch.png'), "",
                :id => "menu_reorder",
                :title => t('.reorder_menu') %>

    <%= link_to refinery_icon_tag('tick.png'), "",
                :id => "menu_reorder_done",
                :title => t('.reorder_menu_done'),
                :style => "display: none;" %>
  <% end %>
</nav>
