<div id='loader' style='display: none;'>
  <%= image_tag 'refinery/loader.gif'%>
</div>
<nav id="menu">
  <ul>
    <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
      <% active = plugin.highlighted?(params) %>
      <li>
        <%= link_to plugin.title, plugin.url,
                    :class => ("active" if active),
                    :id => "plugin_#{plugin.name}" %>

        <%= render plugin.actions if plugin.actions.present? %>
      </li>
    <% end -%>
  </ul>
</nav>