<nav id="menu">
  <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
    <%= link_to plugin.title, plugin.url,
                :class => (plugin.highlighted?(params) ? "active" : ""),
                :id => "plugin_#{plugin.name}" %>
  <% end -%>
</nav>
