<nav id="menu">
  <% ::Refinery::Plugins.active.in_menu.each do |plugin| -%>
    <%= link_to plugin.title, refinery.url_for(plugin.url),
                class: ("active" if plugin.highlighted?(params)),
                id: "plugin_#{plugin.name}" %>
  <% end -%>
  <% if ::Refinery::Plugins.active.in_menu.many? -%>

    <%= action_icon :reorder, '', t('.reorder_menu'), id: :menu_reorder %>
    <%= action_icon :reorder_done, '', t('.reorder_done'), id: :menu_reorder_done %>

  <% end %>
</nav>
