<div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
  <ul id='page_parts'>
    <% fields.each_with_index do |part, part_index| %>
      <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
        <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/#{object}", :default => part.to_s.titleize), "##{part}" %>
      </li>
    <% end %>
  </ul>
  <div id='page_part_editors'>
    <% fields.each do |part| %>
      <div class='page_part' id='<%= part %>'>
        <%= f.text_area part, :rows => 20, :class => 'visual_editor widest' -%>
      </div>
    <% end %>
  </div>
</div>
