<div class="modal fade cms-ui" id="delete-confirm-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <p class="modal-title" id="myModalLabel">
          Title
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-modal-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-submit-modal confirm-modal-delete allow-unload" id="modal-delete-button">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>