<div id="sub-form-modal" class="ui standard modal" tabindex="-1" role="dialog" aria-labelledby="subFormModal" aria-hidden="true">
  <i class="close icon"></i>
  <div class="header">
    Modal Title (overwritten by JS)
  </div>
  <div class="content">
    <div class="description">
    </div>
  </div>
  <div class="modal-footer">
  </div>
  <div class="actions">
    <div class="buttons">
      <button class="btn btn-default btn-modal-cancel">
        Cancel
      </button>
      <button class="btn btn-primary btn-submit-modal">
        Submit (overwritten by JS)
      </button>
    </div>
  </div>
</div><!-- /.modal -->
