login: &login
  access_key_id:
  secret_access_key:

development:
  bucket_name: your_local_amazon_s3
  <<: *login
  distribution_domain:

test:
  bucket_name: your_test_amazon_s3
  <<: *login
  distribution_domain:

production:
  bucket_name: your_production_amazon_s3
  <<: *login
  distribution_domain:
