.highlight-menu-wrapper {
  position: static;
}

.highlight-menu-wrapper .highlight-menu {
  z-index: 3;
}
  
.highlight-menu-inner{
  background: $white;
  border: 1px solid $grey-2;
  border-radius: $radius;
  padding: 0;
  box-shadow: $shadow;
  &:after{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
    border-style: solid;
    border-width: 7px 7px 0 7px;
    border-color: $white transparent transparent transparent;
  }
  &:before{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: $grey-2 transparent transparent transparent;
  }
  a{
    margin: 0 5px;
    color: $grey-6;
    &:hover{
      color: $primary-dark;
    }
  }
}

.highlight-menu-wrapper .pos-abs {
  position: absolute;
}

.highlight-menu-wrapper .highlight-menu {
  position: absolute;
  color: #fff;
  margin-top: -20px;
  margin-left: -115px;
  transition: 0.2s ease-out;
}

.highlight-menu-wrapper .highlight-menu.active {
  visibility: visible;
}

.highlight-menu.hide {
  left: -999px;
  top: -999px;
  visibility: hidden;
}

.highlight-menu .active {
  color: $primary-dark;
}

.highlight-menu-inner {
  width: 184px;
  height: 40px;
  position: absolute;
  margin-left: 23px;
  margin-top: -28px;
  z-index: 1000;
}

.highlight-menu-inner.url-mode {
  width: 184px;
}

.menu-buttons{
  display: flex;
  justify-content: space-around;
  button{
    padding: 5px 5px 8px;
    height: 40px;
    white-space: nowrap;
    color: $grey-6;
    &:hover{
      color: $primary-dark;
    }
    &:first-child{
      padding-left: 12px;
    }
    &:last-child{
      padding-right: 12px;
    }
  }
  .header1, .header2{
    sub{
      bottom: -0.15em;
    }
  }
  .header3{
    .gcicon{
      font-size: 12px;
    }
    sub{
      bottom: -0.05em;
    }
  }
}

.highlight-menu-inner.url-mode .menu-buttons {
  display: none;
}


.highlight-menu-inner.url-mode input{
  width: 164px;
  &:focus{
    box-shadow: none;
  }
}

.highlight-menu-inner input {
  overflow: hidden;
  outline: 0px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
  width: 0px;
  color: $grey-6;
}
