.gcicon-trash:before {
  content: "a";
}
.gcicon-edit:before {
  content: "b";
}
.gcicon-add:before {
  content: "c";
}
.gcicon-search:before {
  content: "e";
}
.gcicon-screen:before {
  content: "f";
}
.gcicon-sitemap:before {
  content: "g";
}
.gcicon-file:before {
  content: "h";
}
.gcicon-folder:before {
  content: "i";
}
.gcicon-folder-open:before {
  content: "j";
}
.gcicon-reorder:before {
  content: "k";
}
.gcicon-photo:before {
  content: "l";
}
.gcicon-film:before {
  content: "m";
}
.gcicon-check:before {
  content: "o";
}
.gcicon-log-out:before {
  content: "r";
}
.gcicon-plus:before {
  content: "q";
}
.gcicon-play:before {
  content: "s";
}
.gcicon-align-center:before {
  content: "d";
}
.gcicon-align-left:before {
  content: "n";
}
.gcicon-bold:before {
  content: "t";
}
.gcicon-font:before {
  content: "u";
}
.gcicon-italic:before {
  content: "v";
}
.gcicon-list-bullet:before {
  content: "w";
}
.gcicon-list-number:before {
  content: "x";
}
.gcicon-quote:before {
  content: "y";
}
.gcicon-heading:before {
  content: "z";
}
.gcicon-paragraph:before {
  content: "A";
}
.gcicon-gear:before {
  content: "C";
}
.gcicon-index:before {
  content: "D";
}
.gcicon-list:before {
  content: "E";
}
.gcicon-move:before {
  content: "F";
}
.gcicon-save:before {
  content: "G";
}
.gcicon-publish:before {
  content: "H";
}
.gcicon-pencil:before {
  content: "I";
}
.gcicon-lock:before {
  content: "J";
}
.gcicon-unlocked:before {
  content: "K";
}
.gcicon-down-lg:before {
  content: "M";
}
.gcicon-bars:before {
  content: "N";
}
.gcicon-gears:before {
  content: "O";
}
.gcicon-sort-alpha-two:before {
  content: "P";
}
.gcicon-sort-alpha:before {
  content: "Q";
}
.gcicon-sort-amount:before {
  content: "R";
}
.gcicon-sort-amount-two:before {
  content: "S";
}
.gcicon-sort-numeric-two:before {
  content: "T";
}
.gcicon-sort-numeric:before {
  content: "U";
}
.gcicon-caret-up-down:before {
  content: "V";
}
.gcicon-caret-down:before {
  content: "W";
}
.gcicon-caret-up:before {
  content: "X";
}
.gcicon-filter:before {
  content: "Y";
}
.gcicon-close:before {
  content: "Z";
}
.gcicon-dashboard:before {
  content: "0";
}
.gcicon-files:before {
  content: "1";
}
.gcicon-user:before {
  content: "2";
}
.gcicon-calendar:before {
  content: "5";
}
.gcicon-projection-screen:before {
  content: "7";
}
.gcicon-wrench:before {
  content: "8";
}
.gcicon-sliders:before {
  content: "9";
}
.gcicon-pages:before {
  content: "!";
}
.gcicon-paperclip:before {
  content: "\"";
}
.gcicon-crop:before {
  content: "%";
}
.gcicon-flag:before {
  content: "&";
}
.gcicon-chat:before {
  content: "$";
}
.gcicon-fullscreen:before {
  content: "'";
}
.gcicon-feather:before {
  content: "6";
}
.gcicon-group:before {
  content: "#";
}
.gcicon-user-1:before {
  content: "(";
}
.gcicon-glass-canvas:before {
  content: "3";
}
.gcicon-rocket:before {
  content: "4";
}
.gcicon-books:before {
  content: ")";
}
.gcicon-unchecked:before {
  content: "*";
}
.gcicon-checked:before {
  content: "+";
}
.gcicon-code:before {
  content: ",";
}
.gcicon-caret-left:before {
  content: "-";
}
.gcicon-caret-right:before {
  content: ".";
}
.gcicon-clock:before {
  content: "/";
}
.gcicon-up:before {
  content: ":";
}
.gcicon-left:before {
  content: ";";
}
.gcicon-right:before {
  content: "<";
}
.gcicon-down:before {
  content: "L";
}
.gcicon-crosshair:before {
  content: "=";
}
.gcicon-cancel:before {
  content: ">";
}
.gcicon-link:before {
  content: "p";
}
.gcicon-unlink:before {
  content: "?";
}
.gcicon-img-fw:before {
  content: "B";
}
.gcicon-img-lg:before {
  content: "@";
}
.gcicon-img-md:before {
  content: "[";
}
