#image-upload-form {
  position: absolute;
  top: -1200px;
	opacity: 0;
  height: 1px;
  overflow: hidden;
}

.upload-preview-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .image-delete-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: $white;
    color: $red;
    border-color: $white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: none;
    padding: 0;
    .icon, .gcicon{
      margin: 0;
    }
    &:hover{
      color: $white;
      background: $red;
      border-color: $red;
    }
  }
}


.upload-preview-container{
  padding-top: 60%;
  margin: 0;
  .upload-preview-inner{
		position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-6;
    border-radius: $radius;
    .upload-overlay{
      text-align: center;
      span{
        display: none !important;
        visibility: visible !important;
        color: $white;
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      .btn-primary{
        background: transparent;
        box-shadow: none;
        border: 1px solid $white;
        color: $white;
        &:hover{
          background: $white;
          color: $primary-color;
        }
      }
    }
	}
  .file-preview{
    border-radius: $radius;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-size: cover !important;
    background-position: center center;
  }
}

.upload-circle{
  margin: 0 auto;
  max-width: 300px;
  .upload-preview-container{
    padding-top: 100%;
    .upload-preview-inner{
      border-radius: 50%;
    }
    .file-preview{
      border-radius: 50%;
    }
  }
}

.progress-box {
  display: none;
  text-align:left;
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 0;
	.status-text {
		top: 2px;
		left: 50%;
		margin-left: -15px;
		text-align: center;
		position: absolute;
		color: #ffffff !important;
	}
}
.progress {
	width: calc(100% - 10px);
	padding: 0;
	z-index: 998;
	margin-bottom: 0;
	background-color: rgba(0,0,0,0.4) !important;
}
.progress-bar {
  display: block;
  width: 1%;
}
.progress-bar-striped {
  background-repeat-x: initial;
}
.image-upload-container {
	height: 0px;
}
.editable-image-container {
	.upload-preview-container {
		position: absolute;
		width: 100%;
		text-align: right;
		padding: 5px 15px;
		z-index: 999;
	}
	&.top {
		.upload-preview-container {
			top: 0;
			padding-bottom: 35px;
		}
		.progress {
			margin-top: 35px;
		}
	}
	&.right {
		.upload-preview-container {
			right: 0;
		}
	}
	&.bottom{
		.upload-preview-container {
			bottom: 0;
			padding-top: 35px;
		}
		.progress {
			margin-bottom: 35px;
		}
	}
	&.left {
		.upload-preview-container {
			left: 0;
		}
	}
}
