@mixin indexImage {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  a.edit_link {
    display: inline-block;
    font-weight: bold;
    height: fit-content;

    &:has(img) { border-bottom: 0}
  }
  .alt {font-style: italic}
  .filename {font-style: italic}
  .title {text-transform: capitalize}
}

@mixin gridImage {
  @include indexImage;

  a:has(img) ~ * {
    display: inline-block;
    margin-right: 2px;
  }
  .actions {
    @include imageActions {
      justify-content: flex-start;
    };
    margin: 0 0.25rem;
    border: 0.5px solid $index_entry_actions_border;
    background-color: $index_entry_actions_background;
    border-radius: 2px;
  }
}

@mixin listImage {
  @include indexImage;
  //margin: 0 12px 12px 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1rem;
  .actions {
    @include imageActions {
      margin-left: auto;
      justify-content: flex-end;
    }
  }

  &:hover {
    background-color: $index_entry_hover_background;
  }
}

@mixin imageIndexLayout {
  list-style-type: none;
  width: 100%;
  padding: 0;
  line-height: 1.2;
  @content;
}

// apply to #image_grid
@mixin imageGridLayout {
  @include imageIndexLayout {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: auto;
    gap: 15px;
  }
}

// apply to #image_list
@mixin imageListLayout {
  @include imageIndexLayout {
    margin: 10px 0 15px 0;
  }
}

@mixin imageActions {
    // unset some
    position: relative;
    top: unset;
    right: unset;
    width: auto;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    line-height: 1.5;
    a {
      float: none;
      margin: 0;
    }
    @content;
  }
