@mixin rounded($radius) {
  border-radius: $radius;
}
@mixin top-rounded($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin right-rounded($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
@mixin left-rounded($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin bottom-rounded($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
