<ul>
  <li>
    <%= render '/refinery/admin/search', :url => refinery.admin_settings_path %>
  </li>
  <li>
    <%= link_to t('.new'), refinery.new_admin_setting_path({
                             :dialog => true,
                             :width => 725,
                             :height => 565
                           }), :class => "add_icon" %>
  </li>
</ul>
