<%= will_paginate @settings %>
<table class="<%= ['pagination_frame', pagination_css_class].compact.join(' ') %>">
  <tr>
    <th>
      Name
    </th>
    <th>
      Value
    </th>
    <th>
      Options
    </th>
  </tr>
  <%= render :partial => 'setting', :collection => @settings %>
</table>
