<section id='records'>
  <%= render :partial => "/refinery/admin/search",
             :locals => {
               :url => main_app.refinery_admin_settings_path
             } %>
  <h2>Settings</h2>
  <%= render :partial => 'records' %>
</section>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      $('#records ul li .actions a[href*=edit]').each(function(i, li) {
        $(li).attr('name', $(li).attr('tooltip'));
      });
    });
  </script>
<% end -%>
