<% content_for :header, t('enter_email_address', :scope => 'users.forgot') %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <div class='field'>
    <%= f.text_field :email, :class => "larger widest",
                     :placeholder => t('email_address', :scope => 'users.forgot') %>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => false,
               :submit_button_text => t('reset_password', :scope => 'users.forgot'),
               :cancel_url => session_path(resource_name),
               :cancel_title => nil
             } -%>
<% end -%>
