@mixin button-outline-inverted-variant($color) {
  color: $white;
  border-color: $color;
  background-color: $color;
  background-image: $color;
  @include hover {
    color: $color;
    border-color: $color;
    background-color: $white;
  }
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    border-color: $color;
    background-color: $white;
  }
  &.disabled,
  &:disabled {
    @include hover {
      border-color: lighten($color, 20%);
    }
    &:focus,
    &.focus {
      border-color: lighten($color, 20%);
    }
  }
}

@mixin button-outline-cms-variant($color) {
  color: $color;
  border-color: $color;
  background-color: transparent;
  background-image: none;
  @include hover {
    color: #ffffff;
    border-color: $cms-hover;
    background-color: $cms-hover;
  }
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #ffffff;
    border-color: $cms-hover;
    background-color: $cms-hover;
  }
  &.active {
    &:hover,
    &:focus,
    &.focus {
      color: $white;
      border-color: darken($cms-hover, 8%);
      background-color: darken($cms-hover, 8%);
    }
  }
  &.disabled,
  &:disabled {
    @include hover {
      border-color: lighten($color, 20%);
    }
    &:focus,
    &.focus {
      border-color: lighten($color, 20%);
    }
  }
}

@mixin button-variant-inverted($color, $background, $border) {
  $active-background: $color;
  $active-border: $color;
  color: $color;
  border-color: $border;
  background-color: $background;
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075));
  @include hover {
    color: $background;
    border-color: $active-border;
    background-color: $active-background;
  }
  &:focus,
  &.focus {
    color: $color;
    border-color: $active-border;
    background-color: $active-background;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    border-color: $active-border;
    background-color: $active-background;
    // Remove the gradient for the pressed/active state
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    &:hover,
    &:focus,
    &.focus {
      color: $color;
      border-color: darken($border, 25%);
      background-color: darken($background, 17%);
    }
  }
  &.disabled,
  &:disabled {
    @include hover {
      border-color: $border;
      background-color: $background;
    }
    &:focus,
    &.focus {
      border-color: $border;
      background-color: $background;
    }
  }
}
