<ul>
  <li>
    <%= render '/refinery/admin/search', :url => refinery.admin_users_path %>
  </li>
  <li>
    <%= link_to t('.create_new_user'),
                refinery.new_admin_user_path, :class => "add_icon" %>
  </li>
</ul>
