<ul>
  <li>
    <%= render '/refinery/admin/search', :url => refinery.admin_users_path %>
  </li>
  <li>
    <%= action_label :add, refinery.new_admin_user_path, t('.create_new_user')%>
  </li>
</ul>
