<table class='pagination_container'>
  <tr>
    <th>
      Username
    </th>
    <th>
      Email
    </th>
    <th>
      Created At
    </th>
    <th>
      Options
    </th>
  </tr>
  <%= render :partial => 'users' %>
</table>
