<%= render 'refinery/admin/search_header', :url => refinery.admin_users_path %>
<% if @users.any? %>
<div class='pagination_container'>
  <%= render 'users' %>
</div>
<% else %>
  <p>
    <%= t('no_results', :scope => 'refinery.admin.search') %>
  </p>
<% end %>
