<% content_for :admin_content do %>
	<%#= render '/refinery/admin/search', :url => refinery.admin_users_path %>
	<section id='admin-page-content' class='admin-index container-fluid'>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="admin-title">Users</h2>
        <div class="contextual-menu">
          <% if ::Refinery::Admin::UsersController.searchable? %>
            <%= render '/refinery/admin/search', :url => refinery.admin_users_path %>
          <% end %>
          <a href="<%= refinery.new_admin_user_path %>" class="btn btn-primary">
            <i class="gcicon gcicon-add"></i> <span class="hidden-xs"><strong>New user</strong></span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 index-listing">
        <%= render 'records' %>
      </div>
    </div>
	</section>
<% end %>
<%= render 'refinery/admin/users/submenu' %>

