$icon_default_colour: #404650;
$icon_delete_colour:  #ff707f;   // rose
$icon_done_colour:    #00a017;  //
$icon_error_colour:   #ff0;     //RED
$icon_folder_colour:  #e6cb47;   // dark yellow
$icon_locale_colour:  #b7e3fc;    // pale blue
$icon_page_colour:    #066CFF;   //
$icon_warning_colour: #FF6600; // orange

$info_icon_blue:      #316CC8;

$icon_preview_colour: $icon_default_colour;
$icon_edit_colour: $icon_default_colour;
$icon_add_colour: $icon_default_colour;

$action_background_colour: lighten($icon_locale_colour,10%);
$action_border_colour: $icon_locale_colour;

// $icon_preview_colour: #7f00ff;   // violet
// $icon_edit_colour:    #007fff;   // azure
// $icon_add_colour:     #7fff00;   // chartreuse

$base_color: #25a9f4; // blue
$base_light_color: #E4EEFD;
$text_base_color: #282C2F; // grey
$text_light_color: #6D727B;

$main_menu_background_color: #414a52;
$main_menu_background_light_color: #535D65;
$main_menu_base_color: #666A70;
$main_menu_base_light_color: white;
$main_menu_accent_color: #25a9f4;

$line_separator_colour:  #c4cdd5;