<ul>
  <li>
    <%= render :partial => "/shared/admin/search",
               :locals => {
                 :url => admin_refinery_settings_url
               } %>
  </li>
  <li>
    <%= link_to t('.new'), new_admin_refinery_setting_path({
                             :dialog => true,
                             :width => 725,
                             :height => 475
                           }), :class => "add_icon" %>
  </li>
</ul>
