<ul>
  <li>
    <%= render '/refinery/admin/search', :url => refinery.admin_resources_path %>
  </li>
  <li>
    <%= link_to t('.upload_new'), refinery.new_admin_resource_path(:dialog => true), :class => "add_icon" %>
  </li>
</ul>
