<% if searching? %>
  <h2><%= t('results_for', :scope => 'shared.admin.search', :query => params[:search]) %></h2>
<% end %>
<% if @resources.any? %>
  <div class='pagination_container'>
    <%= render :partial => 'resources' %>
  </div>
<% else %>
  <p>
    <% unless searching? %>
      <strong><%= t('.no_files_yet') %></strong>
    <% else %>
      <%= t('no_results', :scope => 'shared.admin.search') %>
    <% end %>
  </p>
<% end %>
