<% if searching? %>
  <h2><%= t('results_for', :scope => 'refinery.admin.search', :query => params[:search]) %></h2>
<% end %>
<div class='pagination_container'>
  <% if @resources.any? %>
    <%= render 'resources' %>
  <% else %>
    <p>
      <% unless searching? %>
        <strong><%= t('.no_files_yet') %></strong>
      <% else %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% end %>
    </p>
  <% end %>
</div>
