<%= will_paginate @resources if Refinery::Admin::ResourcesController.pageable? %>
<div class="<%= ['clearfix', 'pagination_frame', pagination_css_class].compact.join(' ') %>">
  <% group_by_date(@resources).each do |container|
       date = Date.parse((resource_group = container.last).first.created_at.to_s) %>
    <h3><%= l(date, :format => :long ) %></h3>
    <ul>
      <%= render :partial => 'resource', :collection => resource_group %>
    </ul>
  <% end %>
</div>
