
/* icons */

.add_icon             {@include icon('plus');}
.back_icon            {@include icon('left');}
.branch-closed_icon   {@include icon('up')}
.branch-open_icon     {@include icon('down')}
.close_icon           {@include icon('times')}

.delete_icon,
.delete_section_icon  {@include icon('close', $icon_delete_colour);}

.download_icon        {@include icon('download');}
.edit_email_icon      {@include icon('envelope', $icon_edit_colour);}
.edit_icon            {@include icon('edit', $icon_edit_colour);}
.email_icon           {@include icon('envelope');}
.error_icon           {@include icon('question', $icon_error_colour);}
.failure_icon         {@include icon('times');}
.folder_icon          {@include icon('folder', $icon_folder_colour)}
.go_icon              {@include icon('log-in');}
.info_icon            {@include icon('info');}
.loading_icon         {@include icon('spinner'); @extend %icon-spin}
.page_icon            {@include icon('file',$icon_page_colour)}
.preview_icon         {@include icon('eye', $icon_preview_colour)}
.remove_icon          {@include icon('unlink', $icon_delete_colour);}
.reorder_done_icon    {@include icon('check')}
.reorder_h_icon       {@include icon('reorder');}
.reorder_icon         {@include icon('bars');}
.reorder_icon.loading {@include icon('spinner')}
.search_icon          {@include icon('search')}
.settings_icon        {@include icon('gear')}
.sitebar_icon         {@include icon('bars', white, $margin: 2.5em)}
.spam_empty_icon      {@include icon('trash');}
.spam_icon            {@include icon('trash', $icon_warning_colour);}
.success_icon         {@include icon('check');}
.switch_view_grid_icon {@include icon('grid')}
.switch_view_list_icon {@include icon('list')}
.upload_icon          {@include icon('publish');}
.user_comment_icon    {@include icon('chat');}
.warning_icon         {@include icon('warning', $icon_warning_colour)}

.hidden_icon  {display:none}
.unhidden_icon {display: inline-block}

// stacked icon/text used for locales
.locale_marker {
    display: inline-block;
    font-size: 8px;
    margin-right: 10px;
    position: relative;
    top: -8px;
    %icon-stack strong {
      left: 7px;
      line-height: 1em;
      position: absolute;
      top: 9px;
    }
}

// don't want underlines on icons
#content a[class$='icon'] {border-bottom: none}
#content a[class$='icon']:hover {border-bottom: none}

