%icon-font { font-family: 'FontAwesome', Helvetica, Arial, sans-serif; }

/* icons */

.add_icon {@include icon('plus-circle');}

.back_icon {@include icon('arrow-left');}

.close_icon {@include icon('times-circle')}

.delete_icon,
.delete_section_icon {@include icon('minus-circle', $icon_delete_colour);}

.download_icon {@include icon('download');}

.edit_email_icon {@include icon('envelope-o');}

.edit_icon {@include icon('edit', $icon_edit_colour);}

.edit_locale_icon {@include icon('edit', $icon_locale_colour, $size: 1.2rem)}

.locale_icon {@include icon('comment', $icon_locale_colour) }

.email_icon {@include icon('envelope-o');}

.error_icon {@include icon('question-circle', $icon_error_colour);}

.failure_icon {@include icon('times');}

.folder_icon {@include icon('folder', $icon_folder_colour)}

.folderopen_icon {@include icon('folder-open', $icon_folder_colour)}

.go_icon {@include icon('caret-square-o-right');}

.info_icon {@include icon('info-circle');}

.loading_icon {@include icon('spinner'); @extend .fa-spin}

.page_icon {@include icon('file-o', $icon_page_colour)}

.preview_icon {@include icon('eye', $icon_preview_colour)}

.remove_icon {@include icon('unlink', $icon_delete_colour);}

.reorder_done_icon {@include icon('thumbs-o-up')}

.reorder_h_icon {@include icon('exchange');}

.reorder_icon {@include icon('unsorted');}

.reorder_icon.loading {@include icon('spinner')}

.search_icon {@include icon('search')}

.settings_icon {@include icon('gear')}

.sortdown_icon {@include icon('sort-down')}

.sortup_icon {@include icon('sort-up')}

.spam_empty_icon {@include icon('trash-o');}

.spam_icon {@include icon('trash');}

.success_icon {@include icon('check');}

.switch_view_grid_icon {@include icon('th')}

.switch_view_list_icon {@include icon('list')}

.upload_icon {@include icon('upload');}

.user_comment_icon {@include icon('comment-o');}

.warning_icon {@include icon('warning', $icon_warning_colour)}

.hidden_icon {display: none}

.unhidden_icon {display: inline-block}

.locale_icon {
  position: relative;
  // icon_base (the icon) occupies the ::before position
  @include icon_base($locale_icon_colour, $size: 1.5rem);

  &::after {
    position: absolute;
    left: 0.3rem;
    font-size: 0.8rem;
    color: $locale_text_colour;
    font-weight: bold;
    content: attr(id);
    text-transform: uppercase;
  }
}

// don't want underlines on icons
#content {
  a[class$='icon'] {
    border-bottom: none;

    &:hover {border-bottom: none}
  }
}
