body
  background-color: #f0f2f5
  font-family: Helvetica
  color: #282C2F

main#page_container
  margin-left: 15.5em
  padding: 3.5em 0 2em

  #content
    #records
      @include panel

body
  &.new,
  &.edit
    #content
      @include panel
      padding: 1.5em 1.5em 0