body
  background-color: #F0F2F5
  font-family: Helvetica

main#page_container
  margin-left: 15.5em
  padding: 3.5em 9em 2em

  #content
    background-color: white
    border-radius: 3px
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15)
    padding: 1.5em