#records:not(.tree) {
  ul {
    border-collapse: collapse;
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: table-row;
      border-bottom: 1px solid $line_separator_light_colour;
      color: $text_base_color;
      font-size: 0.9em;

      span {
        display: table-cell;
        padding: 0.5em;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $base_light_color;
      }

      .actions {
        a {
          float: right;
          margin: 0.3em 0.15em;
        }
      }
    }
  }
}