<section id='<%= [@page.try(:canonical_slug), 'page'].compact.join('-') %>'>
  <%= render_content_page(@page, {
        :hide_sections => local_assigns[:hide_sections],
        :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
      }) %>
  <%= render :partial => '/refinery/draft_page_message' unless @page.try(:live?) -%>
</section>