<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1 id='logo'>
          <%= link_to Refinery::Core.site_name, refinery.root_path %>
        </h1>
        <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
      </div>
    </div>
  </div>
</section>
