<div class="nav-group">
  <li class="nav-header">
    <%= menu_branch.title %>
  </li>
  <% menu_branch.children.each do |child| %>
    <li>
    <%= link_to child.title, refinery.url_for(child.url) %>
    </li>
  <% end %>
  <li class="divider"></li>
</div>
