<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= @menu_pages).roots).present?
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>
<div class='subnav'>
  <ul class="nav nav-pills">
    <li>
      <%= link_to 'Device Home', refinery.url_for(@page.root.url) %>
    </li>
    <% roots.each do |root| %>
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= root.title %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <%= render :partial => '/refinery/menu_branch', :collection => root.children %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
<% end -%>