<noscript>
  <div class='flash flash_error'>
    <%= t('.enable_javascript_html') %>
    <%= t('.here_are') %>
    <%= link_to t('.instructions_enable_javascript_html'),
                'http://www.enable-javascript.com',
                :target => '_blank' %>
  </div>
</noscript>
