<% content_for :header, t('.there_are_no_users') %>
<p>
  <%=t('.remember_admin_location')%>
</p>
<p>
  <strong><%= [request.protocol, request.host_with_port, '/refinery'].join %></strong>
</p>
<p>
  <%= t('.lets_start') %>
</p>

<div class='form-actions'>
  <div class='form-actions-left'>
    <%= link_to t('.continue'), refinery.new_refinery_user_registration_path,
                :class => 'button' %>
  </div>
</div>
